{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Audio Annotation</title>

    <link href="data:image/gif;" rel="icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.5/umd/popper.min.js" integrity="sha512-8cU710tp3iH9RniUh6fq5zJsGnjLzOWLWdZqBMLtqaoZUA6AWIE34lwMB3ipUNiTBP5jEZKY95SfbNnQ8cCKvA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="{% static 'annotationStatic/3rd/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'annotationStatic/3rd/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'annotationStatic/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'annotationStatic/css/app.css' %}" />

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/fontawesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/fontawesome.min.js"></script> -->
</head>

<style>
    .flex-space{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .flex-center{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-section{
        display: flex;
        gap: 2rem;
    }

    .left-section{
        width: 75%;
        border: 1px solid rgba(0,0,0,0.1);
        border-radius: 0.25rem;
        padding: 1rem;
    }

    .right-section{
        width: 25%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .right-section > *{
        border: 1px solid rgba(0,0,0,0.1);
        border-radius: 0.25rem;
        padding: 1rem;
    }

    .header-section button{
        border-radius: 50%;
    }

    .result-section{
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
    }
    .result{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .audio-details{
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .result label {
        font-weight: 500;
    }

    .text-parent{
        display: flex;
        gap: 0.5rem;
    }

    .text-parent label{
        min-width: 2.5rem;
    }

    .bottom-section button{
        border-radius: 50%;
        font-size: 0.75rem;
    }

    .region-section{
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
    }

    .region-list{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        max-height: 20rem;
        overflow-y: auto;
    }

    .region{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
    }

    .sort-button{
        padding-inline: 0.6rem ;
    }

    .audio-range-parent{
        display: flex;
        gap: 0.5rem;
    }

    .audio-range{
        display: flex;
        align-items: center;
        gap: 0.25rem;
    }

    .audio-range .start , .audio-range .end{
        font-weight: 500;
        width: 4rem;
        text-align: center;
    }

    .region-text {
        position: absolute;
        top: 50%;
    }

    .utility-buttons-group{
        display: flex;
        align-items: center;
        gap: 01rem;
    }

    .audio-data {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    }

    .annotation-text{
        width: 100%;
    }
</style>

<body itemscope itemtype="http://schema.org/WebApplication">
    <div class="container">
        <div class="header">
            <h1>{{ audio_obj.question.question_title }} </h1>
        </div>

        <div class="main-section">
            <section class="right-section">




                <!-- Region section starts here -->
                <div class="region-section shadow-sm">
                    <div class="header-section flex-space">
                        <div>
                            <h5 class="m-0">{{ question_set.unique_code }} (<span id="region-count">01</span>)</h5>
                        </div>
                        {% for question in question_set.questions.all %}
                            <div>
                                {{ question.question_title }}
                                {% if question.id == audio_obj.question.id %}
                                    <div>
                                        <button title="Sort regions" class="sort-button btn btn-sm btn-dark"><i class="fa-solid fa-sort"></i></button>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}

                    </div>

                    <div class="region-list" id="region-list">
                        <!-- Render list of regions inside region-list section here -->
                    </div>
                </div>
                <!-- Region section ends here -->

            </section>

            <section class="left-section ">
                <div class="shadow-sm" id="demo">
                    <div class="row">
                        <div class="col">
                            <p style="text-align:right;">
                                <span id="time-current">0.00</span> / <span id="time-total">0.00</span><br>
                                (<span id="time-current-hms">00:00:00</span> / <span id="time-total-hms">00:00:00</span>)
                            </p>
                        </div>
                    </div>
                    <div id="wave-timeline"></div>
                    <div id="waveform"></div>
                    <div class="utility-buttons-group" style="margin: 1rem 0">
                        <div class="">
                            <button class="btn btn-sm btn-primary btn-block" id="button_play">
                            <span id="play">
                                <span class="bi bi-play"></span>
                                Play
                            </span>
                            <span id="pause" style="display: none">
                            <span class="bi bi-pause"></span>
                                Pause
                            </span>
                            </button>
                        </div>
                        <div class=" flex-center">
                            <!-- <div style="text-align: right;">
                                <div class="bi bi-zoom-out" style="float: left;"></div>
                                <div class="bi bi-zoom-in"></div>
                            </div> -->
                            <div class="bi bi-zoom-out"></div>
                            <input class="mx-1" id="slider" data-action="zoom" type="range" min="1" max="200" value="0" style="width: 100%" />
                            <div class="bi bi-zoom-in"></div>

                        </div>
                        <div class=" flex-center">
                            <!-- <div style="text-align: right;">
                                <div class="bi bi-volume-off" style="float: left;" id="volume_zero"></div>
                                <div class="bi bi-volume-up" id="volume_max"></div>
                            </div> -->
                            <div class="bi bi-volume-off" id="volume_zero"></div>
                            <input class="mx-1/" id="volume" type="range" min="0" max="1" value="1" step="0.1" style="width: 100%" />
                            <div class="bi bi-volume-up" id="volume_max"></div>

                        </div>
                        <div class="">
                            <select class="form-control-sm" onchange="changePlaybackRate(this);">
                                <option value="0.25">0.25x</option>
                                <option value="0.5">0.5x</option>
                                <option value="1" selected>1x</option>
                                <option value="1.5">1.5x</option>
                                <option value="2">2x</option>
                            </select>
                        </div>
                        <div class="">
                            <button class="btn btn-sm btn-danger" id="reset">
                                <span class="bi bi-trash"> {% trans 'Reset' %}</span>
                            </button>
                            <button class="btn btn-sm btn-light" id="info" data-bs-toggle="modal" data-bs-target="#infoModal">
                                <span class="bi bi-info-circle" aria-hidden="true"></span>
                            </button>
                            <!--
                            <button class="btn btn-light" id="download_button">
                                <span class="bi bi-download" aria-hidden="true"></span>
                            </button>
                            -->
                            <button type="button" class="btn btn-sm btn-secondary" id="save-btn">Save</button>
                        </div>
                    </div>
                </div>



                <form role="form" name="edit" style="display:none; opacity: 0; transition: opacity 300ms linear; margin: 30px 0;">
                    <div class="form-group row">
                        <div class="col">
                            <div class="row">
                                <div class="col-5">
                                    <label for="start">Start</label>
                                    <input class="form-control" id="start" name="start" type="number" step="0.01" />
                                </div>
                                <div class="col-5">
                                    <label for="start-hms"></label>
                                    <input class="form-control" id="start-hms" name="start-hms" readonly />
                                </div>
                                <div class="col-2">
                                    <label for="start-setnow"></label>
                                    <button class="btn btn-info w-100" id="start-setnow">
                                        <span class="bi bi-chevron-bar-down" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="row">
                                <div class="col-5">
                                    <label for="end">End</label>
                                    <input class="form-control" id="end" name="end" type="number" step="0.01" />
                                </div>
                                <div class="col-5">
                                    <label for="end-hms"></label>
                                    <input class="form-control" id="end-hms" name="end-hms" readonly />
                                </div>
                                <div class="col-2">
                                    <label for="end-setnow"></label>
                                    <button class="btn btn-info w-100" id="end-setnow">
                                        <span class="bi bi-chevron-bar-down" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" id="annotation_item_area">
                    </div>
                    



                    <div class="form-group row">
                        <div class="col">
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-success btn-block">Save</button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-danger btn-block" data-action="delete-region">Delete</button>
                        </div>
                    </div>
                </form>

                <!-- Result section starts here -->
                <div class="result-section shadow-sm">

                    <div class="header-section flex-space">
                        <h5 class="m-0">Results</h5>
                        <!--
                        <button class="btn btn-sm btn-dark" data-toggle="tooltip" data-placement="top" title="Delete all">
                            <i class="fas fa-trash"></i>
                        </button>
                        -->
                    </div>


                    <div class="result">
                        <div class="audio-details">
                            No Region Selected.
                        </div>
                        <div class="audio-data">

                        </div>
                    </div>
                    

                    <div class="annotation-form-section d-none">
                        <form class="annotation-form" name="annotationForm">
                            <textarea class="annotation-text">
                            </textarea>
                            <input type="hidden" value="" class="region-id">
                            <div class="bottom-section">
                                <button type="submit" title="Save" class="btn btn-sm btn-dark">
                                    <i class="fas fa-check"></i></button>
                                <button type="cancel" title="Cancel" class="btn btn-sm btn-dark">
                                    <i class="fas fa-times"></i></button>
                            </div>
                        </form>
                    </div>

                </div>
                <!-- Result section ends here -->
            </section>


        </div>





        <div class="modal fade" id="infoModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-fluid">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Information</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancel"></button>
                    </div>
                    <div class="modal-body">
                        <h4>Key biddings</h4>
                        <ul>
                            <li>Shift + ←: Backward 0.2 seconds</li>
                            <li>Shift + →: Forward 0.2 seconds</li>
                            <li>Shift + Space: Play or Stop</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>






    </div>

    <!-- <div class="footer">
        <div class="container" style="text-align:right;">
            <a target="_blank" rel="noreferrer" href="https://github.com/koniwa/hachiue">Hachiue</a>
            by
            <a target="_blank" rel="noreferrer" href="https://github.com/koniwa">Koniwa Project</a>
        </div>
    </div> -->
</body>

<footer>
    <script src="{% static 'annotationStatic/3rd/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'annotationStatic/3rd/wavesurfer.js/wavesurfer.min.js' %}"></script>
    <script src="{% static 'annotationStatic/3rd/wavesurfer.js/plugin/wavesurfer.timeline.min.js' %}"></script>
    <script src="{% static 'annotationStatic/3rd/wavesurfer.js/plugin/wavesurfer.regions.min.js' %}"></script>
    <script src="{% static 'annotationStatic/3rd/wavesurfer.js/plugin/wavesurfer.minimap.min.js' %}"></script>
    <script src="{% static 'annotationStatic/3rd/localforage/localforage.min.js' %}"></script>
    <link href="{% static 'annotationStatic/3rd/jsoneditor/jsoneditor.min.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'annotationStatic/3rd/jsoneditor/jsoneditor.min.js' %}"></script>

    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'annotationStatic/js/app.js' %}"></script>
    <script src="{% static 'annotationStatic/js/additionalJS.js' %}"></script>
    <script>
        const USER_ID = "{{ user.id }}";
        const STT_DATA = {{ stt_data|safe }};
        const AUDIO_FILE = "{{ audio_obj.audio_file.url }}";
        const key_annotation = "key_annotation_{{ audio_obj.id }}";
        const SAVE_ANNOTATION_URL = "{% url 'worker:save_annotation' audio_obj.id %}";
        var csrf_token = "{{ csrf_token }}";
        {% if annotated_data %}
            const ANNOTATED_DATA = {{ annotated_data|safe }}
        {% else %}
            var temp = JSON.parse(JSON.stringify(STT_DATA.stt_predictions_annotations));
            Object.keys(temp).map(function (idx) {
                temp[idx].data = {};
            });
            const ANNOTATED_DATA = temp;
        {% endif %}

    </script>
</footer>

</html>
