{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Audio Annotation</title>

    <link href="data:image/gif;" rel="icon" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.5/umd/popper.min.js"
            integrity="sha512-8cU710tp3iH9RniUh6fq5zJsGnjLzOWLWdZqBMLtqaoZUA6AWIE34lwMB3ipUNiTBP5jEZKY95SfbNnQ8cCKvA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="{% static 'annotationStatic/3rd/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'annotationStatic/3rd/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'annotationStatic/css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'annotationStatic/css/app.css' %}"/>

    <style>
        input[type=radio] {
            visibility: hidden;
        }

        input[type=radio]:checked + label {
            background-color: #f0f0f0;
            padding: 0.5rem;
        }
    </style>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/fontawesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/fontawesome.min.js"></script> -->
</head>


<body itemscope itemtype="http://schema.org/WebApplication">
<div class="container">
    <div class="main-section">
        <section class="right-section">

            <!-- ExamSet section starts here -->
            <div class="exam-set">
                <h5 class="exam-set-title">{{ exam_set.exam_name }}</h5>
                <!-- <div class=""> -->
                <div class="accordion accordion-flush question-sets" id="accordionFlushExample">
                    {% for question_set in question_sets %}
                        <div class="accordion-item">
                            <h4 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed question-set-name" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
                                        aria-expanded="false" aria-controls="flush-collapseOne">
                                    {{ question_set.unique_code }}
                                </button>
                            </h4>
                            <div id="flush-collapseOne" class="accordion-collapse collapse"
                                 aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    {% for question in question_set.questions.all %}
                                        {% if audio_obj.question.id == question.id %}
                                            <a href="javascript:void(0)" class="question-parent shadow-sm active">
                                                <span class="question-num">{{ forloop.counter }}</span>
                                                <span class="question">{{ question.question_title }}</span>
                                            </a>
                                        {% else %}
                                            <a class="question-parent shadow-sm"
                                               href="{% url 'worker:annotation_page' workertask_id=worker_task.id %}?question={{ question.id }}">
                                                <span class="question-num">{{ forloop.counter }}</span>
                                                <span class="question">{{ question.question_title }}</span>
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <!-- </div> -->
            </div>
            <!-- ExamSet section ends here -->


            <!-- Region section starts here -->
            <div class="region-section shadow-sm">

                <div class="header-section flex-space">
                    <h5 class="m-0">{{ audio_obj.question.question_title }} (<span id="region-count">01</span>)</h5>
                    <button title="Sort regions" class="sort-button btn btn-sm btn-dark"><i
                            class="fa-solid fa-sort"></i></button>
                </div>

                <div class="region-list" id="region-list">
                    <!-- Render list of regions inside region-list section here -->
                </div>
            </div>
            <!-- Region section ends here -->

        </section>

        <section class="left-section">

            <div class="shadow-sm" id="demo">
                <div class="row">
                    <div class="col d-flex justify-content-between">
                        <h3>{{ audio_obj.question.question_title }} {{ workerSubmissionObj }}
                            {% if workerSubmissionObj.status %}
                                <span class="text-success"><i class="fa-solid fa-check-double"></i></span>
                            {% endif %}
                        </h3>
                        <p style="text-align:right;">
                            <span id="time-current">0.00</span> / <span id="time-total">0.00</span><br>
                            (<span id="time-current-hms">00:00:00</span> / <span id="time-total-hms">00:00:00</span>)
                        </p>
                    </div>
                </div>
                <div id="wave-timeline"></div>
                <div id="waveform"></div>
                <div class="utility-buttons-group">
                    <div class="">
                        <button class="btn btn-sm btn-secondary play-button" id="button_play">
                            <span id="play">
                                <span class="bi bi-play"></span>
                                Play
                            </span>
                            <span id="pause" style="display: none">
                            <span class="bi bi-pause"></span>
                                Pause
                            </span>
                        </button>
                    </div>
                    <div class=" flex-center">
                        <div class="bi bi-zoom-out"></div>
                        <input class="mx-1" id="slider" data-action="zoom" type="range" min="1" max="200" value="0">
                        <div class="bi bi-zoom-in"></div>

                    </div>
                    <div class=" flex-center">
                        <div class="bi bi-volume-off" id="volume_zero"></div>
                        <input class="mx-1" id="volume" type="range" min="0" max="1" value="1" step="0.1">
                        <div class="bi bi-volume-up" id="volume_max"></div>

                    </div>
                    <div class="">
                        <select class="" onchange="changePlaybackRate(this);">
                            <option value="0.25">0.25x</option>
                            <option value="0.5">0.5x</option>
                            <option value="1" selected>1x</option>
                            <option value="1.5">1.5x</option>
                            <option value="2">2x</option>
                        </select>
                    </div>
                </div>
            </div>
            <form name="evaluation_form" method="post" id="evaluation_form"
                  action="{% url 'worker:submit_evaluation' task_id=worker_task.id speakersubmission_id=audio_obj.id %}">
                {% csrf_token %}
                <table class="table">
                    <thead>
                    <th>Score</th>
                    {% for value, title in evaluation_types %}
                        <th>{{ title }}</th>
                    {% endfor %}
                    </thead>
                    <tbody>

                    {% for i in range %}
                        <tr>
                            <td>{{ i }}</td>
                            {% for value, title in evaluation_types %}
                                {% for x in evaluation_titles %}
                                    {% if x.evaluation_type == value and x.score == i %}
                                        <td>
                                            <input type="radio" name="{{ value }}" id="{{ value }}_{{ x.score }}"
                                                   value="{{ x.id }}"
                                                    {% if x in workerSubmissionObj.evaluation_data.all %}
                                                   checked {% endif %} required>
                                            <label for="{{ value }}_{{ x.score }}">
                                                {{ x }}
                                            </label>
                                        </td>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
                <button type="button" title="Submit Task" class="btn btn-sm btn-dark" data-bs-toggle="modal"
                        data-bs-target="#modal-task-submission-confirm">
                    {% trans 'Submit' %}
                </button>
            </form>
        </section>
    </div>


    <div class="modal fade" id="infoModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-fluid">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Information</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancel"></button>
                </div>
                <div class="modal-body">
                    <h4>Key biddings</h4>
                    <ul>
                        <li>Shift + ←: Backward 0.2 seconds</li>
                        <li>Shift + →: Forward 0.2 seconds</li>
                        <li>Shift + Space: Play or Stop</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'worker/alerts/confirmTaskSubmission.html' %}

</body>

<footer>
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>

    <script src="{% static 'annotationStatic/3rd/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'annotationStatic/3rd/wavesurfer.js/wavesurfer.min.js' %}"></script>
    <script src="{% static 'annotationStatic/3rd/wavesurfer.js/plugin/wavesurfer.timeline.min.js' %}"></script>
    <script src="{% static 'annotationStatic/3rd/wavesurfer.js/plugin/wavesurfer.regions.min.js' %}"></script>
    <script src="{% static 'annotationStatic/3rd/wavesurfer.js/plugin/wavesurfer.minimap.min.js' %}"></script>
    <script src="{% static 'annotationStatic/3rd/wavesurfer.js/plugin/wavesurfer.cursor.min.js' %}"></script>
    <script src="{% static 'annotationStatic/3rd/localforage/localforage.min.js' %}"></script>
    <link href="{% static 'annotationStatic/3rd/jsoneditor/jsoneditor.min.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'annotationStatic/3rd/jsoneditor/jsoneditor.min.js' %}"></script>

    <script src="{% static 'annotationStatic/js/evaluation_app.js' %}"></script>
    <script src="{% static 'annotationStatic/js/evalutation.js' %}"></script>
    <script>
        const USER_ID = "{{ user.id }}";
        const AUDIO_FILE = "{{ audio_obj.audio_file.url }}";
        const key_annotation = "key_annotation_{{ audio_obj.id }}";
        const ANNOTATED_DATA = {{ annotated_data|safe }};
        const csrf_token = "{{ csrf_token }}";
    </script>
</footer>

</html>
