{% extends "worker/base.html" %}
{% load static %}
{% load i18n %}
{% block styles %}

{% endblock styles %}
{% block content %}
    <div class="bg-white pt-5">
        <h3 class="page-heading">{% trans "Search Exams" %}</h3>
        <form method="get" action="{% url 'worker:exam_list_ajax' %}" name="search-exam-form">
            <div class="search-form">
            <div class="parent row">
                <div class="title col-4">{% trans 'Territories' %} *</div>
                <div class="value col-8">
                    <input class="p-3" type="checkbox" value="english"> {% trans 'English Region' %}
                    <input class="p-3" type="checkbox" value="europe"> {% trans 'Europe Region' %}
                    <input class="p-3" type="checkbox" value="asia"> {% trans 'Asia Region' %}
                    <input class="p-3" type="checkbox" value="japan"> {% trans 'Sino Japanese Region' %}
                </div>
            </div>
            <div class="parent row">
                <div class="title col-4">{% trans 'Exam Type' %} *</div>
                <div class="value col-8">
                    {{ form.difficulty_level }}
                </div>
            </div>

            <div class="parent row">
                <div class="title col-4">{% trans 'Work Type' %} *</div>
                <div class="value col-8">
                    {{ form.work_type }}
                </div>
            </div>

            <div class="parent row">
                <div class="title col-4">{% trans 'Search Tags' %} *</div>
                <div class="value col-8">
                    {{ form.tags }}
                </div>
            </div>

            <div class="parent row">
                <button class="btn btn-dark" id="searchBtn">{% trans 'Search' %}</button>
            </div>
        </div>
        </form>
        <div class="mt-3 p-3" id="search-results">

        </div>
    </div>


{% endblock %}


{% block scripts %}
<script>
    $("form[name='search-exam-form']").on('submit', function (e) {
        e.preventDefault();
        $.ajax({
            url: this.action,
            type: this.method,
            data: $(this).serialize(),
            success: function (response) {
                $('#search-results').empty();
                $('#search-results').append(response);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });
</script>
{% endblock scripts %}