{% extends "worker/base.html" %}
{% load static %}
{% load i18n %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/progress.css' %}">
{% endblock %}

{% block content %}
    <!-- Multi step progress -->
    <section class="multi_step_progress">
        <div id="msprogress">
            <!-- progressbar -->
            <ul id="progressbar">
                <li class="active">{% trans 'Registered' %}</li>
                <li class="{% if user.worker.is_verified %}active{% endif %}">{% trans 'Profile Verified' %}</li>
                <li class="{% if user.worker.is_verified and user.worker.has_contract_submitted or user.worker.has_contract_approved  %}active{% endif %}">{% trans 'Contract Signed' %}</li>
                <li class="{% if user.worker.is_verified and user.worker.has_contract_approved %}active{% endif %}">{% trans 'Contract Approved' %}</li>
            </ul>
            <!-- title -->
            {% if not user.worker.is_verified %}
                <div class="title mt-5">
                    <h2>Your Profile is not Verified</h2>
                </div>
            {% endif %}
        </div>
    </section>
    <!-- End Multi step progress -->
    {% if user.worker.is_verified %}
        If the user is verified. Display data here.
    {% endif %}
{% endblock %}
