{% extends "worker/base.html" %}
{% load static %}
{% load i18n %}
{% block styles %}

{% endblock styles %}
{% block content %}


    <div class="bg-white pt-5">
        <h1 class="page-heading">{% trans "Question set Lists" %} </h1>

        <div class="table-responsive questionset_table" id="questionset_table" style="border: none; overflow-x: unset">
            <table class="table pt-2" cellspacing="0" id="questionset_list_table">
                <thead class="">
                <tr class="tableTitleRow">
                    <th>{% trans "S. No." %}</th>
                    <th>{% trans "ExamSet Name" %}</th>
                    <th>{% trans "QuestionSet Unique code" %}</th>
                    <th>{% trans "Speaker ID" %}</th>
                    <th>{% trans "QuestionSet Type" %}</th>
                    <th>{% trans "Status" %}</th>
                    <th>{% trans "Actions" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for object in object_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ object.exam_set.exam_name }}</td>
                        <td>{{ object.exam_set.question_sets.first.subcategory_code.name }}</td>
                        <td>{{ object.speaker.user.username }}</td>
                        <td>{{ object.speaker.nationality }}</td>
                        <td>{{ object.exam_set.difficulty_level }}</td>
                        <td></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>


{% endblock %}


{% block scripts %}
    <script>
        $('.table').DataTable();
    </script>

{% endblock scripts %}