{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block title %}| {% trans 'Sign In' %}{% endblock %}

{% block styles %}
  <link href="{% static 'css/signin.css' %}" rel="stylesheet">
{% endblock %}
  
{% block header %}{% endblock %}

{% block content %}
<div class="form-signin text-center">

  <form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    <img class="mb-4" src="{% static 'img/logo.png' %}" alt="Logo" width="80" height="80">
    <h1 class="h3 mb-3 fw-normal">{% trans "Audio Annotation Tool" %}</h1><br>
    <h5>{% trans "Please Sign In" %}</h5>

    <div class="form-floating">
      <input type="text" name="login" class="form-control" id="id_login" placeholder="username" maxlength="150" required>
      <label for="id_login">{% trans "Username" %}</label>
    </div>
    <div class="form-floating">
      <input type="password" name="password" class="form-control" id="id_password" placeholder="Password" required>
      <label for="id_password">{% trans "Password" %}</label>
    </div>
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}

    {% if form.errors %}
      <div class="alert alert-danger">
        {% for error in form.non_field_errors %}
          {{ error }}
        {% endfor %}
      </div>
    {% endif %}
    <button class="w-100 btn btn-success mb-2" type="submit">{% trans "Log In" %}</button>

  </form>

  {% get_providers as socialaccount_providers %}
  {% if socialaccount_providers %}
    <p class="h6 login-or mt-2">{% trans 'OR' %}</p>

    <div class="socialaccount_ballot">

      <ul class="socialaccount_providers">
        {% for provider in socialaccount_providers %}
            <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}}" 
              href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
                <button type="button" class="btn btn-lg btn-outline-success">
                  <img src="{% static 'img/naver_logo.png' %}" alt="{% trans 'Naver Logo' %}" width="25" height="25">
                   {% trans 'Sign in with Naver' %}
              </button></a>
        {% endfor %}
      </ul>
    </div>

    {% include "socialaccount/snippets/login_extra.html" %}

  {% else %}
    <p>{% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
  {% endif %}


  <p class="mt-5 mb-3 text-muted">&copy; {% now "Y" %} NSDevil Co. Ltd.</p>
</div>

{% endblock %}
