{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block styles %}
  <link href="{% static 'css/signin.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<!--Register-->
<div class="form-signin py-5 text-center">
{#	<h1>Register</h1>#}
{#	<form method="POST">#}
{#		{% csrf_token %}#}
{#		{{ register_form|crispy }}#}
{#		{{ register_form }}#}
{#		<button class="btn btn-primary" type="submit">Register</button>#}
{#	</form>#}



  <form class="login" method="POST" >
    {% csrf_token %}
    <img class="mb-3" src="{% static 'img/logo.png' %}" alt="Logo" width="80" height="80">
    <h3 class="h3 mb-3">{% trans "Audio Annotation Tool" %}</h3><br>
    <h5>{% trans "Registration" %}</h5>

    <div class="form-floating">
      <input type="text" name="username" class="form-control" id="id_username" placeholder="Username" maxlength="150" required>
      <label for="id_username">{% trans "Username" %}</label>
    </div>
    <div class="form-floating">
      <input type="email" name="email" class="form-control" id="id_email" placeholder="Email" maxlength="150" required>
      <label for="id_email">{% trans "Email" %}</label>
    </div>
    <div class="form-floating">
      <input type="password" name="password1" class="form-control" id="id_password1" placeholder="Password" required>
      <label for="id_password1">{% trans "Password" %}</label>
    </div>
    <div class="form-floating">
      <input type="password" name="password2" class="form-control" id="id_password2" placeholder="Confirm Password" required>
      <label for="id_password2">{% trans "Confirm Password" %}</label>
    </div>

    {% if form.errors %}
      <div class="alert alert-danger">
        {% for error in form.non_field_errors %}
          {{ error }}
        {% endfor %}
      </div>
    {% endif %}
    <button class="w-100 btn btn-success mb-2" type="submit">{% trans "Sign Up" %}</button>

  </form>



	<p class="text-center">If you already have an account, <a href="{% url 'account_login' %}">login</a> instead.</p>
</div>

{% endblock %}
{% block scripts %}
  <script>
  $('.navbar').addClass('d-none')
  </script>
{% endblock %}