main{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }
  section{
    margin-block:1rem;
  }

  .title{
    font-weight: 500;
  }

  .users , .workers{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    gap: 1rem;
    background-color: white;
    /* padding-block: 1rem; */
  }

  .user-card , .worker-stat{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    border: 2.5px solid lightgrey;
  }

  .user-card .right-side {
    display: flex;
    flex-direction: column;
  }

  .new-additions , .time{
    display: flex;
    flex-direction: column;
    padding: 0rem 0.45rem 0 0.25rem;
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 0.25rem;
    background-color: rgba(0,0,0, 0.05);
    color: #0ab2a9;
  }

  .count {
    font-weight: 600; 
    font-size: 1.5rem;
  }

  .tasks-workers-section{
    display:flex;
    gap: 1rem;
  }

  .tasks-workers-section > div{
    width: 50%;
  }

  .tasks{
    display:flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    border: 2.5px solid lightgrey;
  }

  .task-parent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background-color: #f9f9f9;
    padding: 0.25rem;
  }

  .task-parent .text-section{
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
  }

    .task-parent .time-section{
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .time{
    min-width: 4.8rem;
    text-align: center;
  }
  svg.fa-thumbtack{
    margin-top: 0.3rem;
  }

  /* .workers{
    display:flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    border: 2.5px solid lightgrey;
  } */
