input{
    accent-color: #212121;
}

.profile-section-container{
    margin-bottom: 5rem;
}

.header-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.details-parent{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1rem;
}
.detail-row{
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    /* gap: 5rem; */
}

.detail-row .detail{
    width: 50%;
}

.detail{
    display: flex;
}

.detail .label{
    font-weight: 600;
    width: 12rem;
    /* text-align: center; */
}
.detail .value{
    font-weight: 500;
}

.label svg{
    width: 2.5rem;
    text-align: center;
}
.gender-option{
    margin-right: 1rem;
}

/* Profile Edit section styles */
.profile-edit-section i , .profile-section i{
    width: 2.5rem;
    text-align: center;
}

.profile-section , .profile-edit-section{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    /* padding: 1rem; */
}

.basic-section{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 1rem;
    justify-content: space-between;
    box-shadow: 3px 2px 8px 1px rgba(0,0,0,.075)!important;

}

.basic-info-parent{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: 0.5rem;
    /* width: 50%; */
    justify-content: space-between;
}

.basic-info-wrapper{
    width:50%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.basic-info-row{
    display: flex;
    align-items: center;
    /* gap: 0.5rem; */
}


.basic-info-row label:first-of-type{
    width: 12rem;
}

.basic-info-row input[type="text"], .basic-info-row input[type="date"] {
    width: 15rem;
}

.info-row{
    display: flex;
}

.info-detail{
    width: 50%;
    display: flex;
}

.info-detail label{
    width: 12rem;
}

.info-detail input , .info-detail select{
    width: 15rem;
}


.contact-section , .bank-details-section , .language-section , .additional-section{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    box-shadow: 3px 2px 8px 1px rgba(0,0,0,.075)!important;

}

.button-section{
    display: flex;
    gap: 0.5rem;
    padding: 1rem;
}
/* Profile Edit section styles */