Django>=3,<4
django-extensions
djangorestframework
channels
channels_redis
django-createsuperuserwithpassword==2.0.0
pydub==0.25.1
gunicorn
whitenoise==5.2.0
django-constance[database]==2.8.0
django-picklefield
django-cleanup~=5.2.0
django-filter==2.4.0
requests
django-cors-headers