{% extends "professor/base.html" %}
{% load static %}
{% load i18n %}
{% block styles %}
  <style>
  .status-text{
      cursor: auto;
      text-decoration: none;
  }

  .table-title {

    background-color: rgba(188,188,188,0.2) !important;
    text-align: center;

    font-weight: 600;
    width: 20%;
}


  </style>
{% endblock styles %}

{% block content %}
  <h1 class="py-4">Question Detail</h1>

  <table class="table table-bordered">
    <tbody>
    <tr class="">
      <td class="table-title">Title</td>
      <td class="value text-left">{{ object.question_title }}</td>
    </tr>
    <tr class="">
      <td class="table-title">Unique Code</td>
      <td class="value text-left">{{ object.unique_code }}</td>
    </tr>

    <tr class="">
      <td class="table-title">Description</td>
      <td class="value">{{ object.description }} </td>
    </tr>
     <tr class="">
      <td class="table-title">Upload Type</td>
      <td class="value">{{ object.get_upload_type_display }} </td>
    </tr>

    <tr class="">
      <td class="table-title">Created At</td>
      <td class="value">{{ object.created_at }} </td>
    </tr>
    <tr class="">
      <td class="table-title">Updated At</td>
      <td class="value">{{ object.updated_at }} </td>
    </tr>


    <tr class="">
      <td class="table-title ">Difficulty Level</td>

      <td class="value">
        {{ object.difficulty_level }}
      </td>


    </tr>
    <tr class="">
      <td class="table-title ">SubCategory</td>

      <td class="value">
        {{ object.subcategory_code }}
      </td>


    </tr>

     <tr class="">
      <td class="table-title">Ready Time</td>
      <td class="value">{{ object.ready_time }} </td>
    </tr>
     <tr class="">
      <td class="table-title">Speaking Time</td>
      <td class="value">{{ object.speaking_time }} </td>
    </tr>

     <tr class="">
      <td class="table-title">Evaluation Purpose</td>
      <td class="value">{{ object.evaluation_purpose }} </td>
    </tr>
     <tr class="">
      <td class="table-title">Question keyword</td>
      <td class="value">{{ object.question_keywords }} </td>
    </tr>

    <tr class="">
      <td class="table-title">Status</td>
      <td class="value">{% if object.is_active %}<span class="btn btn-sm btn-success"> <a class="text-white status-text">{% trans 'Active' %} </a></span>{% else %} <span class="btn btn-sm btn-warning"> <a class="text-white status-text">{% trans 'InActive' %} </a></span>{% endif %} </td>

    </tr>
    </tbody>
  </table>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}