{% load static %}
{% load i18n %}
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">

<form id="QuestionRegistrationForm"
      action="{% if object %} {% url 'question_update' object.id %} {% else %} {% url 'question_create_ajax' %} {% endif %}"
      method="POST" enctype="multipart/form-data">
  {#    <h3 class="m-0">{% trans 'Question Registration' %} *</h3>#}
  {% csrf_token %}
  <div class="parent row question_form_table_row">
    <div class="title col-4 question_form_table_th">{% trans 'Title' %} *</div>
    <div class="value col-8 question_form_table_td">

{#      <input placeholder="{% trans 'Enter Question title here...' %}" type="text" required name="question_title" maxlength="255"#}
{#             id="id_title" class="form-control"#}
{#        {% if object %} value="{{ object.title }}"{% endif %}>#}
{#    #}

        <textarea placeholder="{% trans 'Enter question title here...' %}" name="question_title" id="id_title"
                  cols="40" rows="3"
                  class="form-control" >{% if object %}{{ object.question_title }}{% endif %}</textarea>



      <div class="question_form_title_error question_form_error_div">
        {% trans 'Title is required' %}
      </div>
    </div>
  </div>

    <div class="parent row question_form_table_row">
    <div class="title col-4 question_form_table_th">{% trans 'Unique Code' %} *</div>
    <div class="value col-8 question_form_table_td">

      <input placeholder="{% trans 'Enter unique code here...' %}" type="text" required name="unique_code" maxlength="10"
             id="id_unique_code" class="form-control"
        {% if object %} value="{{ object.unique_code }}"{% endif %}>


      <div class="question_form_unique_code_error question_form_error_div">
        {% trans 'Unique Code is required' %}
      </div>
    </div>
  </div>



  <div class="parent row">
    <div class="title col-4">{% trans 'SubCategory' %} *</div>
    <div class="value col-8 question_form_table_td">
      <select name="subcategory_code" id="id_subcategory_code" class="form-control">
        {% if not object %}
          <option value="" selected="">---------</option>
        {% endif %}
        {% for category in subcat %}
          <option value="{{ category.pk }}"
            {% if object.subcategory_code.pk == category.pk %}
                  selected
            {% endif %}>
            {% trans category.name %}
          </option>
        {% endfor %}
      </select>
      <div class="question_form_category_error question_form_error_div">
        {% trans 'SubCategory is required' %}
      </div>
    </div>
  </div>


  <div class="parent row ">
    <div class="title col-4">{% trans 'Description' %}</div>
    <div class="value col-8 description">
        <textarea placeholder="{% trans 'Enter description here...' %}" name="description" id="id_description"
                  cols="40" rows="3"
                  class="form-control" >{% if object %}{{ object.description }}{% endif %}</textarea>
    </div>
  </div>

<div class="parent row">
    <div class="title col-4">{% trans 'Upload type' %} *</div>
    <div class="value col-8 question_form_table_td">
      <select name="upload_type" id="id_upload_type" class="form-control">
        {% if not object %}
          <option value="NON"  selected="">{% trans 'None' %}</option>
          <option value="IMG">{% trans 'Image Question' %}</option>
          <option value="AUD">{% trans 'Audio Question' %}</option>
          {% else %}
          <option name="upload_type" value="NON"  {% if 'NON' == object.upload_type %}selected{% endif %}>{% trans 'None' %}</option>
          <option name="upload_type" value="IMG"  {% if 'IMG' == object.upload_type %}selected{% endif %}>{% trans 'Image Question' %}</option>
          <option name="upload_type" value="AUD"  {% if 'AUD' == object.upload_type %}selected{% endif %}>{% trans 'Audio Question' %}</option>

        {% endif %}







      </select>
      <div class="question_form_upload_type_error question_form_error_div">
        {% trans 'Upload Type is required' %}
      </div>
    </div>
  </div>

  <div class="parent row file_upload_field">
    <div class="title col-4">{% trans 'File' %}</div>
    <div class="value col-8 file_upload">

{#      <input class="form-control" type="file" id="formFile" name="upload_file">#}


    <div class="input-group mb-3">
{#      <input type="file" class="form-control" id="formFile" name="upload_file" accept="image/*" >#}
     {{ form.upload_file }}
{#      <small>{{ form.upload_file|filesizeformat }}</small>#}
    </div>


{#      {% if object.upload_file %}#}
{#          {% trans 'Currently selected' %} :#}
{#          <a href="{{ object.upload_file.url }}">#}
{#             {{ object.upload_file }}#}
{#          </a>#}
{#          <span class="clear-selection">#}
{#                  <input type="checkbox" name="upload_file-clear"#}
{#                         id="upload_file-clear_id">#}
{#                  <label class="m-0" for="upload_file-clear_id">{% trans 'Clear' %}</label>#}
{#              </span>#}
{#          <br>#}
{#      {% endif %}#}



    </div>
  </div>

  <div class="parent row question_form_table_row">
    <div class="title col-4 question_form_table_th">{% trans 'Difficulty Level' %} *</div>
    <div class="value col-8 question_form_table_td">
      <input placeholder="{% trans 'Enter Difficulty level here...(0: both, 1: beginner, 2: advanced)' %}" type="number" required name="difficulty_level"
             maxlength="1" min="0" max="2"  id="id_level" class="form-control"
        {% if object %} value="{{ object.difficulty_level }}"{% endif %}>
      <div class="question_form_level_error question_form_error_div ">
        {% trans 'Difficulty Level is required' %}
      </div>
    </div>
  </div>

<div class="parent row question_form_table_row">
    <div class="title col-4 question_form_table_th">{% trans 'Ready Time ' %} *</div>
    <div class="value col-8 question_form_table_td">
      <input placeholder="{% trans 'Enter Ready Time here...' %}" type="number" required name="ready_time"
              id="id_ready_time" class="form-control"  maxlength="5"
        {% if object %} value="{{ object.ready_time }}"{% endif %}>
      <div class="question_form_ready_time_error question_form_error_div ">
        {% trans 'Ready Time is required' %}
      </div>
    </div>
  </div>

<div class="parent row question_form_table_row">
    <div class="title col-4 question_form_table_th">{% trans 'Speaking Time ' %} *</div>
    <div class="value col-8 question_form_table_td">
      <input placeholder="{% trans 'Enter Speaking Time here...' %}" type="number" required name="speaking_time"
              id="id_speaking_time" class="form-control" maxlength="5"
        {% if object %} value="{{ object.speaking_time }}"{% endif %}>
      <div class="question_form_speaking_time_error question_form_error_div ">
        {% trans 'Speaking Time is required' %}
      </div>
    </div>
  </div>




 <div class="parent row question_form_table_row">
    <div class="title col-4 question_form_table_th">{% trans 'Evaluation Purpose' %} *</div>
    <div class="value col-8 question_form_table_td">

      <input placeholder="{% trans 'Enter Evaluation Purpose here...' %}" type="text" required name="evaluation_purpose"
             id="id_evaluation_purpose" class="form-control"
        {% if object %} value="{{ object.evaluation_purpose }}"{% endif %}>


      <div class="question_form_evaluation_purpose_error question_form_error_div">
        {% trans 'Evaluation Purpose is required' %}
      </div>
    </div>
  </div>


<div class="parent row question_form_table_row">
    <div class="title col-4 question_form_table_th">{% trans 'Question Keyword' %} *</div>
    <div class="value col-8 question_form_table_td">

      <input placeholder="{% trans 'Enter Question Keyword here...' %}" type="text" required name="question_keywords"
             id="id_question_keywords" class="form-control"
        {% if object %} value="{{ object.question_keywords }}"{% endif %}>


      <div class="question_form_question_keywords_error question_form_error_div">
        {% trans 'Question Keyword is required' %}
      </div>
    </div>
  </div>


  <div class="parent row  question_form_table_row">
    <div class="title col-4 ">{% trans 'Option' %}</div>
    <div class="value col-8 question_form_table_td option_fields">
      <div id="div_id_Use_Flag" class=" question_create_options_div mr-2">
        <input type="checkbox" name="is_active" class="checkboxinput " id="id_is_active"
          {% if object and object.is_active %} checked {% elif object %} {% else %} checked {% endif %}>
        <label for="id_is_active" class=" survey-add-label">
          <span class="question_form_checkbox_label_text">{% trans 'Active' %}</span>
        </label>
      </div>

    </div>
  </div>


  <div class="row">
    <div class="col-12 text-center">
      <button title="{% trans 'Submit created survey' %}" class="btn btn-primary mr-2" id="question_submit_btn"
          type="button">
    {% if object %}
      {% trans 'Update' %}
    {% else %}
      {% trans 'Submit' %}
    {% endif %}
  </button>
    </div>
  </div>

</form>


<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>

<script>

$(document).ready(function (){
    $('.file_upload_field').css('display', 'none');
  {% if 'update' in request.path  %}
    if($("#id_upload_type option:selected").val()!=='NON') {
      $('.file_upload_field').css('display', 'flex');
      $('.file_upload .input-group').css('display', 'inline');
      $('#upload_file-clear_id').css('margin-left', '20px');
    }
  {% endif %}
})

 $("#question_submit_btn").click(function(){
      if (!validate_form()){
        return false;
      }
      $("#QuestionRegistrationForm").submit();

    })


  function animate_and_focus(el_id){
      $('html, body').animate({
        scrollTop: $(el_id).offset().top - 100
      }, 500, function() {
        $(el_id).focus();
      });
    }


  function validate_form(){

      $("#QuestionRegistrationForm .is-invalid").removeClass("is-invalid");
      $(".question_form_error_div").hide();

      if($("#id_title").val().replaceAll(" ", "") === ""){
        $("#id_title").addClass('is-invalid');
        $(".question_form_title_error").show();
        animate_and_focus("#id_title")
        return false;
      }

      if($("#id_unique_code").val().replaceAll(" ", "") === ""){
        $("#id_unique_code").addClass('is-invalid');
        $(".question_form_unique_code_error").show();
        animate_and_focus("#id_unique_code")
        return false;
      }

      if($("#id_subcategory_code").val() === ""){
        $("#id_subcategory_code").addClass('is-invalid');
        $(".question_form_category_error").show();
        animate_and_focus("#id_subcategory_code")
        return false;
      }

       if($("#id_level").val() === ""){
        $("#id_level").addClass('is-invalid');
        $(".question_form_level_error").show();
        animate_and_focus("#id_level")
        return false;
      }

        if($("#id_ready_time").val() === ""){
        $("#id_ready_time").addClass('is-invalid');
        $(".question_form_ready_time_error").show();
        animate_and_focus("#id_ready_time")
        return false;
      }

         if($("#id_speaking_time").val() === ""){
        $("#id_speaking_time").addClass('is-invalid');
        $(".question_form_speaking_time_error").show();
        animate_and_focus("#id_speaking_time")
        return false;
      }
          if($("#id_evaluation_purpose").val() === ""){
        $("#id_evaluation_purpose").addClass('is-invalid');
        $(".question_form_evaluation_purpose_error").show();
        animate_and_focus("#id_evaluation_purpose")
        return false;
      }


      if($("#id_question_keywords").val() === ""){
        $("#id_question_keywords").addClass('is-invalid');
        $(".question_form_question_keywords_error").show();
        animate_and_focus("#id_question_keywords")
        return false;
      }


      return true;
    }

    $('#id_upload_type').on('change', function(){

      if($(this).val()==='NON'){
        $('.file_upload_field').css('display', 'none');
      }
      else{
        $('.file_upload_field').css('display', 'flex');
      }
    })


</script>
