<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


<div class="container text-center">
    <h1> Record Submission</h1>

    <ul id="playlist"></ul>
    <span id="alertSuccess" style="display: none">Upload Success!</span>
    <span id="alertFailed" style="display: none">Failed due to some reason!</span>
    <span id="alertUploading" style="display: none">Uploading and processing. . . .. . </span>

    <hr/>

    <button class="btn btn-primary">🎙️Start recording</button>
    <div id="afterSubmit" style="display: none">
        <button onClick="window.location.reload();" class="btn btn-danger"> 🔁 Redo</button>
        <button id="uploadToServer" class="btn btn-primary"> 📨 Submit</button>
    </div>


</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdn.jsdelivr.net/npm/@gkt/microphone@1.0.3/dist/Microphone.min.js"></script>

<script>
    const button = document.querySelector('button');
    var recorder;
    navigator.mediaDevices.getUserMedia({audio: true}).then((stream) => {
        recorder = new Microphone(stream);
    });
    button.addEventListener('click', startRecording);

    function startRecording() {
        recorder.start()
        button.textContent = '🛑 Stop recording';
        button.classList.toggle('btn-danger');
        button.removeEventListener('click', startRecording);
        button.addEventListener('click', stopRecording);

    }

    var file;

    async function stopRecording() {
        const blob = recorder.export();
        recorder.stop()
        console.log("blob", blob);
        debugger
        file = new File([blob], 'music.wav', {
            type: blob.type,
            lastModified: Date.now()
        });

        const li = document.createElement('li');
        const player = new Audio(URL.createObjectURL(file));
        player.controls = true;
        li.appendChild(player);
        document.querySelector('#playlist').appendChild(li);

        button.textContent = 'Start recording';
        button.classList.toggle('btn-danger');
        button.style.display = 'none';
        button.removeEventListener('click', stopRecording);
        button.addEventListener('click', startRecording);
        $("#afterSubmit").show();

    }


    $('#uploadToServer').on('click', function () {
        document.getElementById("afterSubmit").style.display = "none";
        document.getElementById("alertUploading").style.display = "block";
        console.log('uploading');
        const formData = new FormData();
        formData.append("recorded_audio", file);
        formData.append("qid", "{{qid}}");
        $.ajax({
            url: ".",
            method: "POST",
            data: formData,
            dataType: "json",
            success: function (response) {
                if (response.success) {
                    console.log(response);
                    document.getElementById("alertUploading").style.display = "none";

                    document.getElementById("alertSuccess").style.display = "block";
                    window.opener.location.reload()
                    window.close();
                } else {
                    document.getElementById("alertUploading").style.display = "none";
                    document.getElementById("alertFailed").style.display = "block";

                    // failed
                    {#btn.html("Error").prop("disabled", false);#}
                }
            },
            error: function (error) {
                console.error(error);
                document.getElementById("alertUploading").style.display = "none";
                document.getElementById("alertFailed").style.display = "block";
            },
            cache: false,
            processData: false,
            contentType: false,
        });
    });
</script>