{% extends "orgadmin/base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/pagewise/homepage.css' %}">
{% endblock %}

{% block content %}

    <main>
        <section>
            <h2 class="my-3 title">User Metrics</h2>
            <div class="users">
                <div class="user-card">
                    <div class="right-side">
                        <div>
                            <i class="fa-solid fa-users"></i>
                            <span class="count"> {{ user_count }}</span>
                        </div>
                        <span class="title"> Total Users</span>
                    </div>
                    {#      <span class="new-additions">+98</span>#}
                </div>

                <div class="user-card">
                    <div class="right-side">
                        <div>
                            <i class="fa-solid fa-microphone-lines"></i>
                            <span class="count">{{ speaker_count }}</span>
                        </div>
                        <span class="title"> Speakers</span>
                    </div>
                    {#      <span class="new-additions">+98</span>#}

                </div>

                <div class="user-card">
                    <div class="right-side">
                        <div>
                            <i class="fa-solid fa-person-chalkboard"></i>
                            <span class="count">{{ professor_count }}</span>
                        </div>
                        <span class="title"> Professors</span>
                    </div>
                    {#      <span class="new-additions">+98</span>#}

                </div>

                <div class="user-card">
                    <div class="right-side">
                        <div>
                            <i class="fa-solid fa-person-digging"></i>
                            <span class="count">{{ worker_count }}</span>
                        </div>
                        <span class="title"> Workers</span>
                    </div>
                    {#      <span class="new-additions">+98</span>#}

                </div>
            </div>
        </section>

        <section class="tasks-workers-section">
            <div>
                <h2>Latest tasks</h2>
                {% for task in latest_tasks %}
                    <div class="tasks">
                        <div class="task-parent shadow-sm">
                            <div class="text-section">
                                <i class="fa-solid fa-thumbtack"></i>
                                <span class="task-title">{{ task }}</span>
                            </div>

                            <div class="time-section">
                                <i class="fa-solid fa-clock"></i>
                                <span class="time "> {{ task.updated_at|date:'Y/m/d h:i a' }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div>
                <h2 class="title">Worker stats</h2>
                <div class="workers">

                    <div class="worker-stat">
                        <div class="right-side">
                            <div>
                                <i class="fa-solid fa-laptop-file"></i>
                                <span class="count"> {{ pending_task }}</span>
                            </div>
                            <span class="title"> Tasks Pending</span>
                        </div>
{#                        <span class="new-additions">+66</span>#}
                    </div>
                    <div class="worker-stat">
                        <div class="right-side">
                            <div>
                                <i class="fa-solid fa-clipboard-check"></i>
                                <span class="count"> {{ completed_task }}</span>
                            </div>
                            <span class="title"> Tasks Completed</span>
                        </div>
{#                        <span class="new-additions">+66</span>#}
                    </div>
                    <div class="worker-stat">
                        <div class="right-side">
                            <div>
                                <i class="fa-solid fa-graduation-cap"></i>
                                <span class="count"> 112</span>
                            </div>
                            <span class="title"> Grading Pending</span>
                        </div>
                        <span class="new-additions">+66</span>
                    </div>
                    <div class="worker-stat">
                        <div class="right-side">
                            <div>
                                <i class="fa-solid fa-clipboard-check"></i>
                                <span class="count"> 112</span>
                            </div>
                            <span class="title"> Grading Completed</span>
                        </div>
                        <span class="new-additions">+66</span>
                    </div>

                </div>
            </div>
        </section>
    </main>
{% endblock %}
