{% load static %}
{% load i18n %}

<form method="post" action="{% url 'speaker:edit_profile' pk=user.speaker.id %}" method="post">
    {% csrf_token %}
    <section class="profile-edit-section w-60">

    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
    <section id="basic-section" class="d-flex">
        <div class="text-center justify-content-start">
            <img src="{% static 'img/user.png' %}" class="rounded-circle" style="width: 10rem;height: 10rem;"
                 alt="">
        </div>

        <div>
            {{ userForm.first_name.label_tag }}{{ userForm.first_name }}
            {{ userForm.last_name.label_tag }}{{ userForm.last_name }}
            {{ form.gender.label_tag }}
            {% for gender in form.gender %}
                {{ gender }}
            {% endfor %}
            {{ form.birth_date.label_tag }}{{ form.birth_date }}
        </div>
    </section>

    <section>
        <h3>{% trans 'Contact Information' %}</h3>
        <div class="detail-row">
            <div class="detail">
                {{ userForm.email.label_tag }} {{ userForm.email }}
            </div>
            <div class="detail">
                {{ form.phone_number.label_tag }} {{ form.phone_number }}
            </div>
            <div class="detail">
                {{ form.permanent_address.label_tag }} {{ form.permanent_address }}
            </div>
            <div class="detail">
                {{ form.current_address.label_tag }} {{ form.current_address }}
            </div>
        </div>
    </section>

    <section>
        <h3>{% trans 'Bank Information' %}</h3>
        <div class="detail-row">
            <div class="detail">
                {{ form.bank_name.label_tag }} {{ form.bank_name }}
            </div>
            <div class="detail">
                {{ form.bank_iban.label_tag }} {{ form.bank_iban }}
            </div>
            <div class="detail">
                {{ form.bank_swift_code.label_tag }} {{ form.bank_swift_code }}
            </div>
            <div class="detail">
                {{ form.bank_account_name.label_tag }} {{ form.bank_account_name }}
            </div>
            <div class="detail">
                {{ form.bank_address.label_tag }} {{ form.bank_address }}
            </div>
        </div>
    </section>

    <section>
        <h3>{% trans 'Language Information' %}</h3>
        <div class="detail-row">
            <div class="detail">
                {{ form.proficiency.label_tag }} {{ form.proficiency }}
            </div>
            <div class="detail">
                {{ form.topik_score.label_tag }} {{ form.topik_score }}
            </div>
            <div class="detail">
                {{ form.level.label_tag }} {{ form.level }}
            </div>
            <div class="detail">
                {{ form.learning_period.label_tag }} {{ form.learning_period }}
            </div>
            <div class="detail">
                {{ form.learning_method.label_tag }} {{ form.learning_method }}
            </div>
            <div class="detail">
                {{ form.study_purpose.label_tag }} {{ form.study_purpose }}
            </div>
        </div>
    </section>

    <section>
        <h3>{% trans 'Additional Information' %}</h3>
        <div class="detail-row">
            <div class="detail">
                {{ form.nationality.label_tag }} {{ form.nationality }}
            </div>
            <div class="detail">
                {{ form.language.label_tag }} {{ form.language }}
            </div>
            <div class="detail">
                {{ form.education_level.label_tag }} {{ form.education_level }}
            </div>
            <div class="detail">
                {{ form.korea_residency.label_tag }} {{ form.korea_residency }}
            </div>
        </div>
    </section>
    <button type="submit" class="btn btn-dark">{% trans 'Save' %}</button>
    <button type="button" class="btn btn-dark" id="cancel-edit">{% trans 'Cancel' %}</button>
    </section>
</form>

<script>
    $('#cancel-edit').on('click', function (e) {
        $('.profile-edit-section').remove();
        $('.profile-section').removeClass('d-none');
        $('#edit-profile-btn').removeClass('d-none');
    });

    $('form').on('submit', function (e) {
        e.preventDefault();
        $.ajax({
            url: $(this).attr('action'),
            method: $(this).attr('method'),
            data: $(this).serialize(),
            success: function (e) {
                console.log('success')
                location.reload();
            },
            error: function (err) {
                console.log(err);
                $('.profile-section-container').empty().append(err.responseText);
            }
        })
    });
</script>