{% load static %}
{% load i18n %}

<form method="post" action="{% url 'speaker:edit_profile' pk=user.speaker.id %}" method="post">
    {% csrf_token %}
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
    <section class="profile-edit-section">


        <section class="basic-section" id="basic-section">
            <h4><i class="fa-solid fa-user-tag"></i>{% trans 'Basic Information' %}</h4>
            
            <div class="basic-info-parent">
                <img src="/static/img/user.png" class="rounded-circle" style="width: 10rem;height: 10rem;" alt="">


                <div class="basic-info-wrapper">
                    <div class="basic-info-row">
                        <label for="id_first_name"><i class="fa-solid fa-user"></i>{% trans 'First name' %}* </label>
                        <input required class="form-control form-control-sm" placeholder="{% trans 'Enter first name here...' %}"
                               type="text" name="first_name" value="{{ userForm.first_name.initial }}"
                               maxlength="150" id="id_first_name">
                    </div>
                    <div class="basic-info-row">
                        <label for="id_last_name"><i class="fa-solid fa-user-tie"></i>{% trans 'Last name' %}* </label>
                        <input required class="form-control form-control-sm" placeholder="{% trans 'Enter last name here...' %}"
                               type="text" name="last_name" value="{{ userForm.last_name.initial }}"
                               maxlength="150" id="id_last_name">
                    </div>
                    <div class="basic-info-row">
                        <label for="id_birth_date"><i class="fa-solid fa-calendar-days"></i>{% trans 'Birth date' %}* </label>
                        <input required type="date" name="birth_date" value="{{ form.birth_date.initial|date:'Y-m-d' }}"
                               class="form-control form-control-sm" placeholder="Select a date" required=""
                               id="id_birth_date">
                    </div>
                    <div class="basic-info-row">
                        <label for="id_gender_0"><i class="fa-solid fa-mars-and-venus"></i>{% trans 'Gender' %}* </label>


                        <select required class="form-control form-control-sm" name="gender" id="id_gender">
                            {% for value, display in form.fields.gender.choices %}
                                <option value="{{ value }}"{% if form.gender.initial == value %}
                                        selected{% endif %}>{{ display }}</option>
                            {% endfor %}

                        </select>
                    </div>
                </div>


            </div>
        </section>

        <section class="contact-section">
            <h4><i class="fa-solid fa-address-book"></i>{% trans 'Contact Information' %} </h4>
            <div class="info-row">
                <div class="info-detail">
                    <label for="id_email"><i class="fa-solid fa-at"></i>{% trans 'Email address' %}* </label>
                    <input required class="form-control form-control-sm" placeholder="{% trans 'Enter email here...' %}"
                           type="email" name="email" maxlength="254"
                           value="{{ userForm.email.initial }}" id="id_email">
                </div>
                <div class="info-detail">
                    <label for="id_phone_number"><i class="fa-solid fa-phone"></i>{% trans 'Phone number' %}* </label>
                    <input required class="form-control form-control-sm" placeholder="{% trans 'Enter phone number here...' %}"
                           type="text" name="phone_number"
                           value="{{ form.phone_number.initial }}"
                           maxlength=" 256" id="id_phone_number">
                </div>
            </div>
            <div class="info-row">
                <div class="info-detail">
                    <label for="id_permanent_address"><i
                            class="fa-solid fa-location-dot"></i>{% trans 'Permanent address' %}* </label>
                    <input required class="form-control form-control-sm"
                           placeholder="{% trans 'Enter permanent address here...' %}" type="text"
                           name="permanent_address"
                           value="{{ form.permanent_address.initial }}"
                           maxlength="256"
                           required=""
                           id="id_permanent_address">
                </div>
                <div class="info-detail">
                    <label for="id_current_address"><i class="fa-solid fa-house"></i>{% trans 'Current address' %}*</label>
                    <input required class="form-control form-control-sm"
                           placeholder="{% trans 'Enter current address here...' %}" type="text" name="current_address"
                           value="{{ form.current_address.initial }}"
                           maxlength="256"
                           required="" id="id_current_address">
                </div>
            </div>


        </section>

        <section class="bank-details-section">
            <h4><i class="fa-solid fa-building-columns"></i>{% trans 'Banking Details' %} </h4>
            <div class="info-row">
                <div class="info-detail">
                    <label for="id_bank_name"><i class="fa-solid fa-building-flag"></i>{% trans 'Bank Name' %}* </label>
                    <input required class="form-control form-control-sm" placeholder="{% trans 'Enter bank name here...' %}"
                           type="text" name="bank_name"
                           value="{{ form.bank_name.initial }}"
                           maxlength="256"  id="id_bank_name">
                </div>
                <div class="info-detail">
                    <label for="id_bank_iban"><i class="fa-solid fa-barcode"></i>{% trans 'Bank IBAN' %}* </label>
                    <input class="form-control form-control-sm" placeholder="{% trans 'Enter bank iban code here...' %}"
                           type="text" name="bank_iban"
                           value="{{ form.bank_iban.initial }}"
                           maxlength="256"  id="id_bank_iban">
                </div>
            </div>

            <div class="info-row">

                <div class="info-detail">
                    <label for="id_bank_swift_code"><i class="fa-solid fa-dove"></i></i>{% trans 'Bank Swift Code' %}* </label>
                    <input class="form-control form-control-sm"
                           placeholder="{% trans 'Enter bank swift code here...' %}" type="text" name="bank_swift_code"
                           value="{{ form.bank_swift_code.initial }}" maxlength="256" 
                           id="id_bank_swift_code">
                </div>
                <div class="info-detail">
                    <label for="id_bank_account_name"><i
                            class="fa-solid fa-money-check-dollar"></i>{% trans 'Account name' %}* </label>
                    <input required class="form-control form-control-sm"
                           placeholder="{% trans 'Enter account holders name here...' %}" type="text"
                           name="bank_account_name" value="{{ form.bank_account_name.initial }}" maxlength="256"
                           required="" id="id_bank_account_name">
                </div>
            </div>

            <div class="info-row">

                <div class="info-detail">
                    <label for="id_bank_address"><i class="fa-solid fa-location-crosshairs"></i>{% trans 'Bank Address' %}* </label>
                    <input class="form-control form-control-sm" placeholder="{% trans 'Enter bank address here...' %}"
                           type="text" name="bank_address" value="{{ form.bank_address.initial }}" maxlength="256"
                            id="id_bank_address">
                </div>
            </div>
        </section>

        <section class="language-section">
            <h4>{% trans 'Language Information ' %}</h3>
                <div class="info-row">
                    <div class="info-detail">
                        <label for="id_proficiency"><i class="fa-solid fa-user-ninja"></i> {% trans 'Proficiency:' %}* </label>
                        <select required class="form-control form-control-sm" name="proficiency" id="id_profieciency">
                            {% for value, display in form.fields.proficiency.choices %}
                                <option value="{{ value }}"{% if form.proficiency.initial == value %}
                                        selected{% endif %}>{{ display }}</option>
                            {% endfor %}

                        </select>

                    </div>
                    <div class="info-detail">
                        <label for="id_topik_score"><i
                                class="fa-solid fa-star-half-stroke"></i>{% trans 'Topik Score' %}* </label>
                        <select required class="form-control form-control-sm" name="topik_score" id="id_topik_score">
                            {% for value, display in form.fields.topik_score.choices %}
                                <option value="{{ value }}"{% if form.topik_score.initial == value %}
                                        selected{% endif %}>{{ display }}</option>
                            {% endfor %}

                        </select>
                    </div>
                </div>
                <div class="info-row">
                    <div class="info-detail">
                        <label for="id_level"><i class="fa-solid fa-arrow-turn-up"></i> {% trans 'Level' %}* </label>
                        <select required class="form-control form-control-sm" name="level" id="id_level">
                            {% for value, display in form.fields.level.choices %}
                                <option value="{{ value }}"{% if form.level.initial == value %}
                                        selected{% endif %}>{{ display }}</option>
                            {% endfor %}

                        </select>
                    </div>
                    <div class="info-detail">
                        <label for="id_learning_period"><i
                                class="fa-solid fa-hourglass-end"></i> {% trans 'Learning period' %}*</label>
                        <input required class="form-control form-control-sm"
                               placeholder="{% trans 'Enter learning period (in years)' %}" type="number"
                               name="learning_period" value="{{ form.learning_period.initial }}" required=""
                               id="id_learning_period">
                    </div>
                </div>

                <div class="info-row">

                    <div class="info-detail">
                        <label for="id_learning_method"><i
                                class="fa-solid fa-signs-post"></i> {% trans 'Learning method' %}*</label>
                        <input required class="form-control form-control-sm"
                               placeholder="{% trans 'Enter learning method here...' %}" type="text"
                               name="learning_method" value="{{ form.learning_method.initial }}" maxlength="256"
                               required="" id="id_learning_method">
                    </div>
                    <div class="info-detail">
                        <label for="id_study_purpose"><i class="fa-solid fa-clipboard-question"></i>{% trans 'Study Purpose' %}*</label>
                        <input required class="form-control form-control-sm"
                               placeholder="{% trans 'Enter study purpose here...' %}" type="text" name="study_purpose"
                               value="{{ form.study_purpose.initial }}" maxlength="256" required=""
                               id="id_study_purpose">
                    </div>
                </div>
        </section>

        <section class="additional-section">
            <h4>{% trans 'Additional Information' %}</h3>
                <div class="info-row">
                    <div class="info-detail">
                        <label for="id_nationality"><i
                                class="fa-solid fa-earth-asia"></i> {% trans 'Nationality' %}* {{ form.fields.nationality.value }}
                        </label>
                        <select required class="form-control form-control-sm" name="nationality" id="id_nationality">
                            {% for value, display in form.fields.nationality.choices %}
                                <option value="{{ value }}"{% if form.nationality.initial == value %}
                                        selected{% endif %}>{{ display }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="info-detail">
                        <label for="id_language"><i class="fa-solid fa-language"></i> {% trans 'Language' %}*</label>
                        <select required class="form-control form-control-sm" name="language" id="id_language">
                            {% for value, display in form.fields.language.choices %}
                                <option value="{{ value }}"{% if form.language.initial == value %}
                                        selected{% endif %}>{{ display }}</option>
                            {% endfor %}
                        </select>
                    </div>

                </div>
                <div class="info-row">

                    <div class="info-detail">
                        <label for="id_education_level"><i
                                class="fa-solid fa-graduation-cap"></i> {% trans 'Education level' %}*</label>
                        <select required class="form-control form-control-sm" name="education_level" id="id_education_level">
                            {% for value, display in form.fields.education_level.choices %}
                                <option value="{{ value }}"{% if form.education_level.initial == value %}
                                        selected{% endif %}>{{ display }}</option>
                            {% endfor %}

                        </select>
                    </div>
                    <div class="info-detail">
                        <label for="id_korea_residency"><i
                                class="fa-solid fa-house-chimney-user"></i> {% trans 'Korea residency' %}*</label>
                        <input required class="form-control form-control-sm"
                               placeholder="{% trans 'Enter Korea residency (in years)...' %}" type="number"
                               name="korea_residency" value="{{ form.korea_residency.initial }}" required=""
                               id="id_korea_residency">
                    </div>
                </div>
        </section>
        <div class="button-section">
            <button type="submit" class="btn btn-sm  btn-dark" title="Save changes">{% trans 'Save  ' %}</button>
            <button type="button" class="btn btn-sm btn-dark" title="Cancel changes"
                    id="cancel-edit">{% trans 'Cancel  ' %}</button>
        </div>
    </section>
</form>

<script>
    $('#cancel-edit').on('click', function (e) {
        $('.profile-edit-section').remove();
        $('.profile-section').removeClass('d-none');
        $('#edit-profile-btn').removeClass('d-none');
    });

    $('form').on('submit', function (e) {
        e.preventDefault();
        $.ajax({
            url: $(this).attr('action'),
            method: $(this).attr('method'),
            data: $(this).serialize(),
            success: function (e) {
                console.log('success')
                location.reload();
            },
            error: function (err) {
                console.log(err);
                $('.profile-section-container').empty().append(err.responseText);
            }
        })
    });
</script>