{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
  <style>

      .rec_wave_form{
          text-align: center;
      }

      svg{
          display: block;
          width: 300px;
          height: 150px;
          padding: 0;
          margin: auto;
          /* position:absolute; */
      }

      h1{
          width: 100%;
          font-family: sans-serif;
          position:absolute;
          text-align:center;
          color:white;
          font-size: 18px;
          top: 40%;
          opacity: 1;
          transition: opacity 1s ease-in-out;
          -moz-transition: opacity 1s ease-in-out;
          -webkit-transition: opacity 1s ease-in-out;
      }

      h1 a{
          color: #48b1f4;
          text-decoration:none;
      }

      path{
          stroke-linecap: square;
          stroke: white;
          stroke-width: 0.5px;
      }

  </style>
  <form action="{% url 'speaker:save_audio' %}"
        enctype="multipart/form-data"
        method="post" id="audio_form">
    {% csrf_token %}

    <div class="mt-5" style="text-align: center">
      <div id="controls">
        <button type="button" id="recordButton">Record</button>
        <button type="button" id="pauseButton" disabled>Pause</button>
        <button type="button" id="stopButton" disabled>Stop</button>
      </div>
      <div id="formats">Format: start recording to see sample rate</div>
      <p><strong>Recordings:</strong></p>
      <ol id="recordingsList"></ol>

      <div class="rec_wave_form">
        <svg preserveAspectRatio="none" id="visualizer" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs>

            <mask id="mask">
              <g id="maskGroup">
              </g>
            </mask>
            <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
              <stop offset="0%" style="stop-color:#ff0a0a;stop-opacity:1" />
              <stop offset="20%" style="stop-color:#f1ff0a;stop-opacity:1" />
              <stop offset="90%" style="stop-color:#d923b9;stop-opacity:1" />
              <stop offset="100%" style="stop-color:#050d61;stop-opacity:1" />
            </linearGradient>
          </defs>
          <rect x="0" y="0" width="100%" height="100%" fill="url(#gradient)" mask="url(#mask)"></rect>
        </svg>

        <h1>please allow the use of your microphone</h1>
      </div>

      <!-- record player -->
      <div id="record_player"></div>

      <button type="submit" class="btn btn-success mt-5">{% trans 'Save' %}</button>
    </div>
  </form>
{% endblock %}
{% block scripts %}

  {#  <script type="module" src="{% static 'js/recorder/index.js' %}"></script>#}
  <script src="{% static 'js/recorder/recorder.js' %}"></script>
  <script src="{% static 'js/recorder/app.js' %}"></script>

  <script>

    let record_state = true;

    $(document).ready(function (){

      $("#audio_form").submit(function (e){
        e.preventDefault();
        on_form_submit();

        // var formData = new FormData($("#audio_form")[0]);
        // console.log(blob);
        // $.ajax({
        //  type: "POST",
        //  url: $("#audio_form").attr("action"),
        //  data: formData,
        //  cache: false,
        //  contentType: false,
        //  processData: false
        // });
      });

    });
  </script>
  <script>
    window.onload = function () {
      "use strict";
      var paths = document.getElementsByTagName('path');
      var visualizer = document.getElementById('visualizer');
      var mask = visualizer.getElementById('mask');
      var h = document.getElementsByTagName('h1')[0];
      var path;
      var report = 0;

      var soundAllowed = function (stream) {
        //Audio stops listening in FF without // window.persistAudioStream = stream;
        //https://bugzilla.mozilla.org/show_bug.cgi?id=965483
        //https://support.mozilla.org/en-US/questions/984179
        window.persistAudioStream = stream;
        h.innerHTML = "Thanks";
        h.setAttribute('style', 'opacity: 0;');
        var audioContent = new AudioContext();
        var audioStream = audioContent.createMediaStreamSource( stream );
        var analyser = audioContent.createAnalyser();
        audioStream.connect(analyser);
        analyser.fftSize = 1024;

        var frequencyArray = new Uint8Array(analyser.frequencyBinCount);
        // visualizer.setAttribute('viewBox', '0 0 255 255');
        visualizer.setAttribute('viewBox', '0 0 255 255');

        //Through the frequencyArray has a length longer than 255, there seems to be no
        //significant data after this point. Not worth visualizing.
        for (var i = 0 ; i < 255; i++) {
          path = document.createElementNS('http://www.w3.org/2000/svg', 'path');
          path.setAttribute('stroke-dasharray', '4,1');
          mask.appendChild(path);
        }
        var doDraw = function () {
          if (record_state) {
            requestAnimationFrame(doDraw);
          }
          analyser.getByteFrequencyData(frequencyArray);
          var adjustedLength;
          for (var i = 0 ; i < 255; i++) {
            adjustedLength = Math.floor(frequencyArray[i]) - (Math.floor(frequencyArray[i]) % 5);
            paths[i].setAttribute('d', 'M '+ (i) +',255 l 0,-' + adjustedLength);
          }

        }
        doDraw();
      }

      var soundNotAllowed = function (error) {
        h.innerHTML = "You must allow your microphone.";
        console.log(error);
      }

      /*window.navigator = window.navigator || {};
      /*navigator.getUserMedia =  navigator.getUserMedia       ||
                                navigator.webkitGetUserMedia ||
                                navigator.mozGetUserMedia    ||
                                null;*/

      var start_wave = function (){
        navigator.getUserMedia({audio:true}, soundAllowed, soundNotAllowed);
      }
      $("#recordButton").click(function (){
        record_state = true;
        start_wave();
      })
      $("#pauseButton").click(function (){

        console.log("pauseButton clicked rec.recording=",rec.recording );
        if (rec.recording){
          //pause
          record_state = false;
          rec.stop();
          pauseButton.innerHTML="Resume";

        }else{
          //resume
          record_state = true;
          start_wave();
          rec.record()
          pauseButton.innerHTML="Pause";
        }
      })



    };
    // $("#pauseButton").click(function(){
    //  record_state = false
    // });
    $("#stopButton").click(function(){
      record_state = false
    })

  </script>

{% endblock scripts %}
