{% extends "speaker/base.html" %}
{% load static %}
{% load i18n %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/progress.css' %}">
{% endblock %}


{% block content %}
    <!-- Multi step progress -->
    <section class="multi_step_progress">
        <div id="msprogress">
            <ul id="progressbar">
                <li class="{% if user.speaker.has_request_verification %}active{% endif %}">
                    <div class="h6">{% trans 'Profile Registered' %}</div>
                    <div>{{ profile_register_date }}</div>
                </li>
                <li class="{% if user.speaker.verified %}active
                           {% elif user.speaker.has_profile_rejected %}inactive{% endif %}">
                    <div class="h6">{% trans 'Profile Verified' %}</div>
                    <div>{{ profile_approved_date }}</div>
                </li>
                <li class="{% if user.speaker.verified and user.speaker.has_contract_submitted or user.speaker.has_contract_approved %}active
                            {% elif user.speaker.has_contract_rejected %}inactive{% endif %}">
                    <div class="h6">{% trans 'Contract Signed' %}</div>
                    <div>{{ contract_sign_date }}</div>
                </li>
                <li class="{% if user.speaker.verified and user.speaker.has_contract_approved %}active{% endif %}">
                    <div class="h6">{% trans 'Contract Approved' %}</div>
                    <div>{{ contract_approved_date }}</div>
                </li>
            </ul>
            <div class="title mt-5">
            {% if not user.speaker.verified %}
                {% if not user.speaker.has_request_verification %}
                    <h2>{% trans 'Please register your profile and submit for verification' %}</h2>
                    <a href="{% url 'speaker:profile' %}"><button class="btn btn-outline-secondary">
                        {% trans 'Go to Profile' %}
                    </button></a>
                {% elif user.speaker.has_profile_rejected %}
                    <h2>{% trans 'Your profile is rejected, please update and submit for re-verification' %}</h2>
                    <a href="{% url 'speaker:profile' %}"><button class="btn btn-outline-secondary">
                        {% trans 'Go to Profile' %}
                    </button></a>
                {% else %}
                    <h2>{% trans 'Your Profile is not Verified' %}</h2>
                    <h6>{% trans 'Please wait for admin approval' %}</h6>
                {% endif %}
            {% elif not user.speaker.has_contract_approved %}
                {% if user.speaker.has_contract_rejected %}
                    <h2>{% trans 'Your Signed Contract is rejected' %}</h2>
                    <h2>{% trans 'Please Sign and Re-upload the Contract' %}</h2>
                    <a href="{% url 'speaker:contract' %}"><button class="btn btn-outline-secondary">
                        {% trans 'Go to Contract' %}
                    </button></a>
                {% elif not user.speaker.has_contract_submitted %}
                    <h2>{% trans 'Please Sign and Upload the Contract' %}</h2>
                    <a href="{% url 'speaker:contract' %}"><button class="btn btn-outline-secondary">
                        {% trans 'Go to Contract' %}
                    </button></a>
                {% else %}
                    <h2>{% trans 'Your Contract is not Approved Yet' %}</h2>
                    <h6>{% trans 'Please wait for admin approval' %}</h6>
                {% endif %}
            {% endif %}
            </div>
        </div>
    </section>
    <!-- End Multi step progress -->
    {% if user.speaker.verified and user.speaker.has_contract_approved %}
        <!-- Dashboard area here -->
    {% endif %}
{% endblock %}
