{% load static %}
{% load i18n %}

{% block styles %}
    <link href="{% static 'css/pagewise/test-popup.css' %}" rel="stylesheet">
{% endblock %}


<form action="{% url 'speaker:exam_popup' exam_id=examObj.id %}"
      enctype="multipart/form-data"
      method="post" id="audio_form">
    {% csrf_token %}
    <!-- record player -->
    <div id="record_player"></div>
    <select name="question" id="id_question" style="display: none;">
        <option value="{{ qn.pk }}" selected>{{ qn.question_title }}</option>
    </select>
    <select name="speaker" id="id_speaker" style="display: none;">
        <option value="{{ speaker.pk }}" selected>{{ speaker.user }}</option>
    </select>

</form>

<section class="top-section">
    <div class="question-count-buttons">
        {% for qn in questions %}
            <button type="button"
                    {% if not qn.can_submit %}onclick="changeQuestion('{{ forloop.counter0 }}')"{% endif %}
                    class="{% if qn_num == forloop.counter0 %} active-question {% else %} inactive-question{% endif %} {% if not qn.can_submit %}submitted-indicator{% endif %}">
                {{ forloop.counter }}
            </button>

        {% endfor %}
    </div>
    {% if qn.upload_type == "AUD" %}
        <div title="Media Volume" class="media-volume-slider">
            <i class="fa-solid fa-volume-high"></i>
            <input type="range" min="1" max="100" value="50" class="slider" id="volume_slider_input">
        </div>
    {% endif %}
</section>

<section class="mid-section">
    <div class="question-parent question-wrapper {% if not qn.upload_type == 'IMG' %}  no-attachment {% endif %} {% if not qn.can_submit %} is-submitted-indicator {% endif %}></div> ">
        <h6 class=" question-title">
            <span class="">{{ qn_num1 }}. </span><span> {{ qn.question_title }}</span>
        </h6>
        {% if qn.upload_type == "AUD" %}
            <audio id="qn_audio">
                <source src="{{ qn.upload_file.url }}" type="audio/mpeg">
            </audio>

            <div class="audio-progress-wrapper blur-filter">
                <div class="progress" style="width: 50%; margin: auto;">
                    <div class="progress-bar bg-dark audio-progress" role="progressbar" aria-valuenow="0"
                         aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                    </div>
                </div>
                <span><i class="fa-solid fa-circle-play"></i> Audio progress</span>
            </div>
        {% endif %}
        {% if qn.upload_type == "IMG" %}
            <img class="image-question blur-filter" src="{{ qn.upload_file.url }}" alt="question image">
        {% endif %}
        <p class="question-description {% if qn.upload_type == 'NON' %} no-attachment {% endif %} blur-filter ">{{ qn.description }}</p>
    </div>

    <audio id="myAudio">
        <source src="{% static 'audio/beep-07a.mp3' %}" type="audio/mpeg">
    </audio>



    {% if prev_qn != None %}
        <button title="Previous question" onclick="prev_qn_btn_click();" class="btn btn-sm btn-dark prev_qn_btn">
            <i class="fa-solid fa-angles-right" style="transform: rotate(180deg);"></i> {% trans 'Previous' %}
        </button>
    {% endif %}

    {% if next_qn != None %}
        <button title="Next question" onclick="next_qn_btn_click();" class="btn btn-sm btn-dark next_qn_btn">
            <i class="fa-solid fa-angles-right"></i> {% trans 'Next' %}
        </button>
    {% endif %}


    <button class="remove-blur-btn" title="Start Question">Start</button>

</section>


<section class="bottom-section">
    <div class="recorder_wave" style="width: 8rem; height: 3.5rem;">
        <svg preserveAspectRatio="none" id="visualizer" version="1.1" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>

                <mask id="mask">
                    <g id="maskGroup">
                    </g>
                </mask>
                <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
                    <stop offset="0%" style="stop-color:#5c677d;stop-opacity:1"/>
                    <stop offset="20%" style="stop-color:#33415c;stop-opacity:1"/>
                    <stop offset="90%" style="stop-color:#001233;stop-opacity:1"/>
                    <stop offset="100%" style="stop-color:#001845;stop-opacity:1"/>
                </linearGradient>
            </defs>
            <rect x="0" y="0" width="100%" height="100%" fill="url(#gradient)" mask="url(#mask)"></rect>

        </svg>
        <h1></h1>
    </div>
    <!-- <h1>In <a href="https://codepen.io/zapplebee/full/gbNbZE/">Full Page view</a>, please allow the use of your microphone</h1> -->

    <div class="progress-buttons">

        <div class="prep_button_div">
            <i class="fa-solid fa-stopwatch prep-icon status-active"></i>
            <span id='prep_btn' class="prep-label status-active">{% trans 'Preparation' %}</span>
            <span class="prep-timer status-active">{% if not qn.can_submit %}{{ qn.ready_time }}{% endif %}</span>
        </div>

        <div class="rec_button_div">
            <i class="fa-solid fa-microphone-lines rec-icon status-inactive"></i>
            <span id='recording_btn' class="rec-label status-inactive ">{% trans 'Recording' %}</span>
            <span class="rec-timer status-inactive">{% if not qn.can_submit %}{{ qn.speaking_time }}{% endif %}</span>
        </div>

        <div title="Answer submitted" class="is-submitted status-inactive">
            <i class="fa-solid fa-circle-check"></i>
            <span class="complete-label ">{% trans 'Submitted' %}</span>
        </div>
    </div>

    <!-- Start and Stop buttons to control audio recording, start and end recording when needed -->
    <div class="record-controls" {% if speakerSubObj %}style="display :  none"{% endif %} >
        <button class="btn btn-sm btn-dark" title="{% trans 'Start Recording' %}">
            <i class="fa-solid fa-forward"> </i> {% trans 'Start Rec.' %}
        </button>
        
        <button class="btn btn-sm btn-dark" title="{% trans 'Stop Recording' %}">
            <i class="fa-solid fa-stop"> </i> {% trans 'Stop Rec.' %}
        </button>
    </div>
    <!-- Start and Stop buttons to control audio recording, start and end recording when needed -->


    <div {% if not speakerSubObj %}style="display: none"{% endif %}>
        <audio class="submitted-audio" preload="metadata" onloadedmetadata="mDur()" ontimeupdate="mPlay(this)">
            <source src="{{ speakerSubObj.audio_file.url }}" type="audio/ogg">
            <source src="{{ speakerSubObj.audio_file.url }}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>

        <div class="audio-playback-controls" {% if qn.can_submit %}style="visibility: hidden" {% endif %}>
            <label class="audio-playback-label" for="dur">Recorded audio</label>
            <input title="Seek recorded audio" class="submitted-audio-playback" id="dur" type="range" name="rng" min="0" step="0.25" value="0" onchange="mSet()">
            <div class="utility-buttons">
                <button onClick="togglePlay(this);" class="btn btn-sm btn-dark play-recorded-audio" title="Play recorded audio">
                    <i class="fa-solid fa-play"></i> {% trans 'Play' %}
                </button>
                <button class="btn btn-sm btn-dark re-record" title="Start recording again">
                    <i class="fa-solid fa-rotate"></i> {% trans 'Retry' %}
                </button>
            </div>
        </div>

    </div>

    <script>
        var subAudio = document.querySelector(".submitted-audio");
        var dur = document.getElementById('dur')

        function mDur() {
            dur.max = Math.floor(subAudio.duration)
        }

        function mPlay() {
            dur.value = subAudio.currentTime
        }

        function mSet() {
            subAudio.currentTime = dur.value
        }

        var isPlaying = false;

        function togglePlay(elem) {
            isPlaying ? subAudio.pause() : subAudio.play();
        }

        subAudio.onplaying = function (elem) {
            document.querySelector('.play-recorded-audio').innerHTML = `<i class="fa-solid fa-pause"></i> {% trans 'Pause' %}`
            isPlaying = true;
        }
        subAudio.onpause = function () {
            document.querySelector('.play-recorded-audio').innerHTML = `<i class="fa-solid fa-play"></i> {% trans 'Play' %}`
            isPlaying = false;
        }

    </script>

</section>

<!--Recorder-->

<script>
    // const questionCode = {{qn_set.unique_code}} + {{qn_set.subcategory_code}} ;
    // console.log(questionCode);
    // let unique_code = '{{ qn_set.unique_code}}'
    // let subcategory_code = '{{ qn_set.subcategory_code }}'
    $("#test_modal_label").html(`{{qn_set.subcategory_code}} ` + `[ {{qn_set.unique_code}} ]`);  // set the modal label
    function prev_qn_btn_click() {
        let qn_set_pk = "{{ qn_set.pk }}";
        let qn_num = "{{ prev_qn }}"
        changeQuestion(qn_num);
    }

    function next_qn_btn_click(qn = null) {
        let qn_set_pk = "{{ qn_set.pk }}";
        let qn_num = "{{ next_qn }}"
        changeQuestion(qn_num);
    }

    function changeQuestion(qn_num) {
        let qn_set_pk = "{{ qn_set.pk }}";
        $.ajax({
            type: "GET",
            url: `{% url 'speaker:exam_popup' exam_id=examObj.id %}?qn_set=${qn_set_pk}&qn_num=${qn_num}`,
            success: function (response) {
                $("#test_modal_body").html(response);
            },
            error: function () {
                console.log('Error');
            },
            complete: function () {
                $(".loading-icon-ajax").fadeOut("fast");
            }
        });
    }

    function toHHMMSS(ip_sec) {
        var sec_num = parseInt(ip_sec, 10); // don't forget the second param
        var hours = Math.floor(sec_num / 3600);
        var minutes = Math.floor((sec_num - (hours * 3600)) / 60);
        var seconds = sec_num - (hours * 3600) - (minutes * 60);

        if (hours < 10) {
            hours = "0" + hours;
        }
        if (minutes < 10) {
            minutes = "0" + minutes;
        }
        if (seconds < 10) {
            seconds = "0" + seconds;
        }
        return minutes + ':' + seconds;
    }

    $(".btn-close").click(function () {
        location.reload();
    });


</script>
<!--Recorder testing from here-->
<script>
    $(document).ready(function () {

        $(".remove-blur-btn").click(function () {
            removeBlur();
        });

        // Remove background blur from the main question section on clicking the Start button
        function removeBlur() {
            if(document.querySelector('.image-question') != null)
                document.querySelector('.image-question').classList.remove('blur-filter');
            
            document.querySelector('.question-description').classList.remove('blur-filter');

            if(document.querySelector('.audio-progress-wrapper') != null)
                document.querySelector('.audio-progress-wrapper').classList.remove('blur-filter');


            document.querySelector('.remove-blur-btn').style.display = "none";

            // If Question type is audio, after clicking "Start" Play audio and after playback ends, start prepTimer
            // If Question type is not audio, start prep timer.
            {% if qn.upload_type == "AUD" %}
                // Start Audio Player Timer
                startAudioPlayerTimer();
                // Play audio
                $("#qn_audio").get(0).play();
            {% else %}
                startPreparationTimer();
            {% endif %}
        }

        {% if qn.can_submit %}
            prepTimeLimit = parseInt("{{ qn.ready_time }}");
            prepTimePassed = 0;
            prepTimeLeft = prepTimeLimit;
            recTimeLimit = parseInt("{{ qn.speaking_time }}");
            recTimePassed = 0;
            recTimeLeft = recTimeLimit;
            $(".prep-timer").html(`${toHHMMSS(prepTimeLeft)}`);
            $(".rec-timer").html(`${toHHMMSS(recTimeLeft)}`);


            // $(".prev_qn_btn").attr("disabled", "disabled");
            $(".next_qn_btn").attr("disabled", "disabled");
            // $(".recorder_wave h1").html("{% trans 'Preparation' %}...");
            // $('#prep_btn').removeClass('btn-outline-info');
            // $('#prep_btn').addClass('btn-info');
            // prepTimeout = setTimeout(startWave, 5000);

            function startPreparationTimer() {

                if (!(typeof prepInterval === 'undefined')) {
                    clearInterval(prepInterval);
                }
                $(".prev_qn_btn").attr("disabled", "disabled");
                // When student takes test, prevent closing/interruption of the test
                document.querySelector('.btn-close').style.display = "none";

                prepInterval = setInterval(() => {
                    prepTimePassed = prepTimePassed + 1;
                    prepTimeLeft = prepTimeLimit - prepTimePassed;
                    if (prepTimeLeft <= 0) {
                        clearInterval(prepInterval);
                        startWave();
                    }
                    $(".prep-timer").html(`${toHHMMSS(prepTimeLeft)}`);
                    // debugger;

                }, 1000);
            }

            function playBeepSound() {
                // var audio = new Audio('orgadmin/static/audio/beep-07a.mp3');
                // audio.play();

                var x = document.getElementById("myAudio");
                x.play();
            }



            function startWave() {
                playBeepSound()
                // $('.question-wrapper').removeClass('blur-filter');
                $('.prep-label').removeClass('status-active');
                $('.prep-label').addClass('status-inactive');
                $('.prep-icon').removeClass('status-active');
                $('.prep-icon').addClass('status-inactive');
                $('.rec-label').removeClass('status-inactive');
                $('.rec-label').addClass('status-active');
                $('.rec-icon').removeClass('status-inactive');
                $('.rec-icon').addClass('status-active');
                $('.prep-timer').removeClass('status-active');
                $('.prep-timer').addClass('status-inactive');
                $('.rec-timer').removeClass('status-inactive');
                $('.rec-timer').addClass('status-active');
                // var paths = document.getElementsByTagName('path');
                // var visualizer = document.getElementById('visualizer');
                // var mask = visualizer.getElementById('mask');
                // var h = document.getElementsByTagName('h1')[0];
                // var path;
                // var report = 0;

                paths = document.getElementsByTagName('path');
                visualizer = document.getElementById('visualizer');
                mask = visualizer.getElementById('mask');
                h = document.getElementsByTagName('h1')[0];
                // path;
                report = 0;
                record_state = true;
                soundAllowed = function (stream) {
                    //Audio stops listening in FF without // window.persistAudioStream = stream;
                    //https://bugzilla.mozilla.org/show_bug.cgi?id=965483
                    //https://support.mozilla.org/en-US/questions/984179
                    window.persistAudioStream = stream;
                    // h.innerHTML = "Thanks";
                    h.setAttribute('style', 'opacity: 0;');
                    var audioContent = new AudioContext();
                    var audioStream = audioContent.createMediaStreamSource(stream);
                    var analyser = audioContent.createAnalyser();
                    audioStream.connect(analyser);
                    analyser.fftSize = 1024;

                    var frequencyArray = new Uint8Array(analyser.frequencyBinCount);
                    visualizer.setAttribute('viewBox', '0 0 255 255');

                    //Through the frequencyArray has a length longer than 255, there seems to be no
                    //significant data after this point. Not worth visualizing.
                    for (var i = 0; i < 255; i++) {
                        path = document.createElementNS('http://www.w3.org/2000/svg', 'path');
                        path.setAttribute('stroke-dasharray', '4,1');
                        mask.appendChild(path);
                    }
                    var doDraw = function () {
                        if (record_state) {
                            requestAnimationFrame(doDraw);
                        }
                        analyser.getByteFrequencyData(frequencyArray);
                        var adjustedLength;
                        for (var i = 0; i < 255; i++) {
                            adjustedLength = Math.floor(frequencyArray[i]) - (Math.floor(frequencyArray[i]) % 5);
                            paths[i].setAttribute('d', 'M ' + (i) + ',255 l 0,-' + adjustedLength);
                        }

                    }
                    doDraw();
                }

                soundNotAllowed = function (error) {
                    h.innerHTML = "{% trans 'No mic' %}";
                    console.log(error);
                }

                /*window.navigator = window.navigator || {};
                /*navigator.getUserMedia =  navigator.getUserMedia       ||
                                          navigator.webkitGetUserMedia ||
                                          navigator.mozGetUserMedia    ||
                                          null;*/

                start_wave = function () {
                    navigator.getUserMedia({audio: true}, soundAllowed, soundNotAllowed);
                }
                start_wave();
                startRecording();
                // rec.record();
                //setTimeout(stopWave, 7000)

                startRecordTimer();

                function stopWave() {
                    record_state = false;
                    start_wave();
                    stopRecording();
                    on_form_submit();
                    $("#visualizer").hide();
                    $(".prev_qn_btn").removeAttr("disabled");
                    $(".next_qn_btn").removeAttr("disabled");

                    // Test to see if the next button can be made visible and expanded
                    // if(document.querySelector('.next_qn_btn') != null){
                        // $(".next_qn_btn")removeAttribute("hidden")
                        // $(".next_qn_btn").style.width= "4.5rem";
                    // }

                    // When recording stops, allow closing/interruption of the test
                    document.querySelector('.btn-close').style.display = "block";// Show play button after the recording is stopped

                    // Remove Recording section styles and show Complete message when recording ends and question gets submitted
                    $('.rec-label').removeClass('status-active');
                    $('.rec-label').addClass('status-inactive');
                    $('.rec-icon').removeClass('status-active');
                    $('.rec-icon').addClass('status-inactive');
                    $('.rec-timer').removeClass('status-active');
                    $('.rec-timer').addClass('status-inactive');

                    document.querySelector(".is-submitted").classList.remove("status-inactive")
                    document.querySelector(".is-submitted").classList.add("status-active")
                    document.querySelector(".complete-label").classList.add("status-active")
                    // Remove Recording section styles and show Complete message when recording ends and question gets submitted

                    // Show audio-playback-controls when recording ends and question gets submitted
                    document.querySelector(".audio-playback-controls").style.visibility = "visible";

                }

                function startRecordTimer() {
                    if (!(typeof recInterval === 'undefined')) {
                        clearInterval(recInterval);
                    }

                    recInterval = setInterval(() => {
                        recTimePassed = recTimePassed + 1;
                        recTimeLeft = recTimeLimit - recTimePassed;
                        if (recTimeLeft <= 0) {
                            clearInterval(recInterval);
                            stopWave();
                        }
                        $(".rec-timer").html(`${toHHMMSS(recTimeLeft)}`);
                        // debugger;

                    }, 1000);
                }

            }

            {% if qn.upload_type == "AUD" %}
                $("#qn_audio").prop("volume", 1.0);


                function startAudioPlayerTimer() {
                    audioTimeLimit = Math.ceil(document.getElementById("qn_audio").duration);
                    audioTimePassed = 0;
                    audioTimeLeft = audioTimeLimit;
                    if (!(typeof audioInterval === 'undefined')) {
                        clearInterval(audioInterval);
                    }

                    audioInterval = setInterval(() => {
                        audioTimePassed = audioTimePassed + 1;
                        audioTimeLeft = audioTimeLeft - 1;
                        if (audioTimeLeft <= 0) {
                            // When Audio Play ends, start preparation timer
                            startPreparationTimer();
                            clearInterval(audioInterval);

                            // startWave();
                        }
                        // $(".prep-timer").html(`${toHHMMSS(prepTimeLeft)}`);
                        audioTimeLimit = Math.ceil(document.getElementById("qn_audio").duration);
                        audioPercent = parseInt(audioTimePassed * 100 / audioTimeLimit);
                        $(".audio-progress").attr("aria-valuenow", String(audioPercent));
                        $(".audio-progress").css("width", String(audioPercent) + "%");

                        // debugger;

                    }, 1000);
                }

                $("#volume_slider_input").on("input", function () {
                    // use ui.value to get the current value
                    let volume = parseFloat($(this).val()) / 100.0;
                    $("#qn_audio").prop("volume", volume);
                });

            {% endif %}

        {% else %}

            // Remove blur-filter effect and Start button from the question if its already submitted
            if(document.querySelector('.image-question') != null)
                document.querySelector('.image-question').classList.remove('blur-filter');
            
            document.querySelector('.question-description').classList.remove('blur-filter');

            if(document.querySelector('.audio-progress-wrapper') != null)
                document.querySelector('.audio-progress-wrapper').classList.remove('blur-filter');
                
            document.querySelector('.remove-blur-btn').style.display = "none";
            // Remove blur-filter effect and Start button from the question if its already submitted


            // Remove status-active class from preparation indicator elements if the question is already submitted
            document.querySelector('.prep-icon').classList.remove('status-active');
            document.querySelector('.prep-icon').classList.add('status-inactive');
            document.querySelector('.prep-label').classList.remove('status-active');
            document.querySelector('.prep-label').classList.add('status-inactive');
            document.querySelector('.prep-timer').classList.remove('status-active');
            document.querySelector('.prep-timer').classList.add('status-inactive');
            // Remove status-active class from preparation indicator elements if the question is already submitted

            // Add active-status class to Complete indicator if the question is already submitted
            document.querySelector('.is-submitted').classList.remove('status-inactive');
            document.querySelector('.is-submitted').classList.add('status-active');
            // Add active-status class to Complete indicator if the question is already submitted




            $(".prep-timer").html(`${toHHMMSS('{{ qn.ready_time }}')}`);
            $(".rec-timer").html(`${toHHMMSS('{{ qn.speaking_time }}')}`);
        {% endif %}
    });

</script>
