{% extends "orgadmin/base.html" %}
{% load i18n %}

{% block styles %}
    <style>
        main {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        section {
            margin-block: 1rem;
        }

        .title {
            font-weight: 500;
        }

        .users {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
            gap: 1rem;
            background-color: white;
            /* padding-block: 1rem; */
        }

        .users a {
            all: unset;
            cursor: pointer;
        }

        .user-card:hover {
            background-color: #444444;
            color: #f0f0f0;
        }

        .user-card.active {
            background-color: #444444;
            color: #f0f0f0;
            box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.2);
        }

        .user-card {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            padding: 1rem 1.5rem;
            border-radius: 0.5rem;
            border: 2.5px solid lightgrey;
            transition: all 0.3s ease-in-out;
        }

        .user-card .right-side {
            display: flex;
            flex-direction: column;
        }

        .new-additions, .time {
            display: flex;
            flex-direction: column;
            padding: 0rem 0.45rem 0 0.25rem;
            font-size: 0.9rem;
            font-weight: 500;
            border-radius: 0.25rem;
            background-color: rgba(0, 0, 0, 0.05);
            color: #0ab2a9;
        }

        .count {
            font-weight: 600;
            font-size: 1.5rem;
        }


        td a {
            all: unset;
            cursor: pointer;
            font-weight: bold;
        }
        td a:hover {
            all: unset;
            cursor: pointer;
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block content %}

    <section>
        <h2 class="my-3 title">{% trans 'Speaker List' %}</h2>
        <div class="users">
            <a href="{% url 'speaker_list' %}">
                <div class="user-card {% if not request.GET.status %}active{% endif %}">
                    <div class="right-side">
                        <div>
                            <i class="fa-solid fa-users"></i>
                            <span class="count"> {{ total }}</span>
                        </div>
                        <span class="title"> {% trans 'Total' %}</span>
                    </div>
                    {#      <span class="new-additions">+98</span>#}
                </div>
            </a>
            <a href="{% url 'speaker_list' %}?status=pending">
                <div class="user-card {% if request.GET.status == 'pending' %}active{% endif %}">
                    <div class="right-side">
                        <div>
                            <i class="fa-solid fa-microphone-lines"></i>
                            <span class="count">{{ pending }}</span>
                        </div>
                        <span class="title"> {% trans 'Pending' %}</span>
                    </div>
                    {#      <span class="new-additions">+98</span>#}

                </div>
            </a>

            <a href="{% url 'speaker_list' %}?status=verified">
                <div class="user-card {% if request.GET.status == 'verified' %}active{% endif %}">
                    <div class="right-side">
                        <div>
                            <i class="fa-solid fa-person-chalkboard"></i>
                            <span class="count">{{ verified }}</span>
                        </div>
                        <span class="title"> {% trans 'Verified' %}</span>
                    </div>
                    {#                <span class="new-additions">+98</span>#}

                </div>
            </a>

            <a href="{% url 'speaker_list' %}?status=rejected">
                <div class="user-card {% if request.GET.status == 'rejected' %}active{% endif %}">
                    <div class="right-side">
                        <div>
                            <i class="fa-solid fa-person-digging"></i>
                            <span class="count">{{ rejected }}</span>
                        </div>
                        <span class="title"> {% trans 'Rejected' %}</span>
                    </div>
                    {#                <span class="new-additions">+98</span>#}

                </div>
            </a>

            <a href="{% url 'speaker_list' %}?status=inactive">
                <div class="user-card {% if request.GET.status == 'inactive' %}active{% endif %}">
                    <div class="right-side">
                        <div>
                            <i class="fa-solid fa-person-digging"></i>
                            <span class="count">{{ inactive }}</span>
                        </div>
                        <span class="title"> {% trans 'Inactive' %}</span>
                    </div>
                    {#                <span class="new-additions">+98</span>#}

                </div>
            </a>
        </div>
    </section>

    <main class="users-list">
        <section class="table-section">
            <table class="table py-3" cellspacing="0" id="">

                <thead class="">
                <tr class="">
                    <th>{% trans "S. No." %}</th>
                    <th>{% trans "Username" %}</th>
                    <th>{% trans "Name" %}</th>
                    <th>{% trans "Email" %}</th>
                    <th>{% trans "Account Status" %}</th>
                    <th>{% trans "Verification Status" %}</th>
                    {#                    <th>{% trans "Action" %}</th>#}

                </tr>
                </thead>

                <tbody>
                {% for speaker in object_list %}
                    <tr>
                        <td> {{ forloop.counter }}</td>
                        <td>
                            <a href="{{ speaker.get_absolute_url }}">
                                {{ speaker.user.username }}
                            </a>
                        </td>
                        <td> {{ speaker.user.get_full_name }}</td>
                        <td> {{ speaker.user.email }}</td>
                        <td>
                            <span class="active-status">
                                {{ speaker.user.is_active|yesno:'Active, Inactive' }}
                            </span>
                        </td>
                        <td>
                            <span class="verification-status d-flex gap-2">
                                {% if speaker.is_verified %}
                                    {% trans 'Verified' %}
                                {% elif speaker.get_verification_status == "Pending" %}
                                    <form name="verify-form" action="{% url 'speaker_verify' user_id=speaker.id %}"
                                          method="post">
                                        {% csrf_token %}
                                        <input type="hidden" value="1" name="is_approved">
                                        <button class="btn btn-dark btn-sm verify-btn">{% trans 'Verify' %}</button>
                                    </form>
                                    <form name="verify-form" action="{% url 'speaker_verify' user_id=speaker.id %}"
                                          method="post">
                                        {% csrf_token %}
                                        <input type="hidden" value="0" name="is_approved">
                                        <button class="btn btn-dark btn-sm verify-btn">{% trans 'Reject' %}</button>
                                    </form>
                                {% else %}
                                    {{ speaker.get_verification_status }}
                                {% endif %}
                            </span>
                        </td>
                        {% comment %}
                        <td>
                            {% if speaker.user.is_active %}
                                <form name="block-form" action="{% url 'user_block' user_id=speaker.user.id %}" method="post">
                                    {% csrf_token %}
                                    <button class="btn btn-dark btn-sm block-btn">{% trans 'Block' %}</button>
                                </form>
                            {% else %}
                                <form name="unblock-form" action="{% url 'user_unblock' user_id=speaker.user.id %}" method="post">
                                    {% csrf_token %}
                                    <button class="btn btn-dark btn-sm unblock-btn">{% trans 'Unblock' %}</button>
                                </form>
                            {% endif %}
                        </td>
                        {% endcomment %}
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </section>

    </main>

{% endblock %}

{% block scripts %}
    <script>
        $('.table').DataTable();

        $('form[name=verify-form]').on('submit', function (e) {
            e.preventDefault();
            var $form = $(this);
            $.ajax({
                type: $(this).attr('method'),
                url: $(this).attr('action'),
                data: $(this).serialize(),
                success: function (response) {
                    $form.closest('tr').find('.verification-status').text("{% trans 'Verified' %}");
                    $form.remove();
                }
            });
        });

        $('form[name=block-form]').on('submit', function (e) {
            e.preventDefault();
            var $form = $(this);
            $.ajax({
                type: $(this).attr('method'),
                url: $(this).attr('action'),
                data: $(this).serialize(),
                success: function (response) {
                    $form.closest('tr').find('.active-status').text("{% trans 'Inactive' %}");
                    $form.find('button').text('{% trans 'Unblock' %}')
                }
            });
        });

        $('form[name=unblock-form]').on('submit', function (e) {
            e.preventDefault();
            var $form = $(this);
            $.ajax({
                type: $(this).attr('method'),
                url: $(this).attr('action'),
                data: $(this).serialize(),
                success: function (response) {
                    $form.closest('tr').find('.active-status').text("{% trans 'Active' %}");
                    $form.find('button').text('{% trans 'Block' %}')
                }
            });
        });
    </script>
{% endblock scripts %}