{% extends "orgadmin/base.html" %}
{% load i18n %}

{% block styles %}
    <style>
        .task-type a.active {
            background-color: #444444;
            color: #f0f0f0;
            box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.2);
        }
    </style>
{% endblock %}

{% block content %}
    <main class="task-list">
        <h1 class="title">{% trans 'Task List' %}</h1>
        <div class="task-type">
            <a href="{% url 'worker_task_list' %}" class="btn btn-sm btn-dark {% if not request.GET.type %}active{% endif %}">{% trans 'All' %}</a>
            <a href="{% url 'worker_task_list' %}?type=slicing" class="btn btn-sm btn-dark {% if request.GET.type|lower == 'slicing' %}active{% endif %}">{% trans 'Slicing' %}</a>
            <a href="{% url 'worker_task_list' %}?type=tagging" class="btn btn-sm btn-dark {% if request.GET.type|lower == 'tagging' %}active{% endif %}">{% trans 'Tagging' %}</a>
            <a href="{% url 'worker_task_list' %}?type=evaluation"
               class="btn btn-sm btn-dark {% if request.GET.type|lower == 'evaluation' %}active{% endif %}">{% trans 'Evaluation' %}</a>

        </div>
        <section class="table-section">
            <table class="table py-3" cellspacing="0" id="">

                <thead class="">
                <tr class="">
                    <th>{% trans "S. No." %}</th>
                    <th>{% trans "Worker" %}</th>
                    <th>{% trans "ExamSet" %}</th>
                    <th>{% trans "Type" %}</th>
                    <th>{% trans "Created On" %}</th>
                    <th>{% trans "Status" %}</th>
                    <th>{% trans "Reviewed Date" %}</th>
                </tr>
                </thead>

                <tbody>
                {% for task in object_list %}
                    <tr>
                        <td> {{ forloop.counter }}</td>
                        <td> {{ task.worker.user.username }}</td>
                        <td> {{ task.examset_submission.exam_set }}</td>
                        <td> {{ task.get_task_type_display }}</td>
                        <td> {{ task.created_at|date:'Y-m-d h:i a' }}</td>

                        <td>
                            <span class="active-status d-flex gap-1">
                                {% if not task.approved == None %}
                                    {{ task.approved|yesno:'Approved, Rejected' }}
                                {% else %}
                                    <form name="task-verify-form" action="{% url 'task_verify' task_id=task.id %}"
                                          method="post">
                                        {% csrf_token %}
                                        <input type="hidden" value="1" name="is_approved">
                                        <button class="btn btn-dark btn-sm block-btn">{% trans 'Approve' %}</button>
                                    </form>
                                    <form name="task-verify-form" action="{% url 'task_verify' task_id=task.id %}"
                                          method="post">
                                        {% csrf_token %}
                                        <input type="hidden" value="0" name="is_approved">
                                        <button class="btn btn-dark btn-sm block-btn">{% trans 'Reject' %}</button>
                                    </form>
                                {% endif %}
                            </span>
                        </td>
                        <td>
                            <span class="approved-date">
                                {% if not task.approved == None %}
                                    {{ task.approved_at|date:'Y-m-d h:i a' }}
                                {% else %}
                                    -
                                {% endif %}
                            </span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </section>

    </main>

{% endblock %}

{% block scripts %}
    <script>
        $('.table').DataTable();

        $('form[name=task-verify-form]').on('submit', function (e) {
            e.preventDefault();
            var $form = $(this);
            var $tr = $form.closest('tr');
            $.ajax({
                type: $(this).attr('method'),
                url: $(this).attr('action'),
                data: $(this).serialize(),
                success: function (response) {
                    var isApproved = response.status;
                    var date = new Date(response.approved_date).toLocaleString();
                    var message = isApproved ? "Approved" : "Rejected";
                    $tr.find('.active-status').text(message);
                    $tr.find('.approved-date').html(date);
                }
            });
        });
    </script>
{% endblock scripts %}