{% load i18n %}
{% load static %}


<div style="margin-top: 120px;">
  {% if not has_contract %}
      <h2>{% trans 'Contract is not available. Please contact Admin' %}</h2>
  {#  {% elif has_contract_submitted and not has_contract_approved %}  #}
  {#    <h2>{% trans 'Your contract is waiting for approval. Please be patient.' %}</h2> #}
  {% elif has_contract_approved %}
      <h3>{% trans 'Thank you for joining this project. Your agreement has been submitted and approved.' %}
      <span class="don_icon"><i class="fa-solid fa-check"></i></span></h3>
  {% endif %}
  <br><br>
  <h2>{{ contract.title }}</h2>
</div>
  <div class="accordion mt-4" id="accordionExample">
    {% for aggrement in contract.aggrements.all %}
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading{{ forloop.counter }}">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse{{ forloop.counter }}">
          <span class="me-2 text-success" id="checked{{ forloop.counter }}">
            {% if has_contract_approved %} <i class="fas fa-2x fa-check"></i> {% endif %}
          </span> {{ aggrement.title }}
        </button>
      </h2>
      <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="heading{{ forloop.counter }}" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>{{ aggrement.description|safe }}</p>
          <!-- checkbox -->
          <div class="form-check d-flex justify-content-center">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck{{ forloop.counter }}"
               onclick="checkedBoxClicked(this.checked, {{ forloop.counter }})" {% if has_contract_approved %}checked disabled{% endif %}>
            <label class="form-check-label ms-2" for="defaultCheck{{ forloop.counter }}">
              {{ _('I agree on above condition') }}
            </label>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="text-center">
    {% if has_contract and not has_contract_approved %}
      <form name="contract-submission" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="contract-id" value="{{ contract.id }}">
        <button class="btn btn-success btn-lg btn-block mt-4" type="button" disabled data-bs-toggle="modal" data-bs-target="#exampleModal">
            {{ _('Submit') }}
        </button>
      </form>
    {% endif %}
    {% if has_contract_approved %}
      <button class="btn btn-success btn-lg btn-block mt-4" type="button" disabled>
        {{ _('Submitted') }}
      </button>
    {% endif %}
  </div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    <form name="contract-submission" method="post" enctype="multipart/form-data">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          {{ _('Submit Contract') }}
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% csrf_token %}
        <input type="hidden" name="contract-id" value="{{ contract.id }}">
        <input type="hidden" name="contract-file">
        <p>
          {{ _('Are you sure about sending this agreement?') }}
          {{ _('After sending the agreement, It will immediately effect for utilizing your data') }}
        </p>
        <div id="signature-pad" class="signature-pad">
          <div class="signature-pad--body">
            <canvas style="border: 1px solid black;"></canvas>
          </div>
          <div class="signature-pad--footer">
            <div class="description">{% trans 'Sign in the box' %}</div>
            <div class="signature-pad--actions">
              <div><button type="button" class="button clear" data-action="clear">{% trans 'Clear' %}</button></div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success">{% trans 'Confirm' %}</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Cancel' %}</button>
      </div>
    </form>
    </div>
  </div>
</div>