{% load i18n %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/progress.css' %}">
    <link rel="stylesheet" href="{% static 'css/pagewise/contract.css' %}">
{% endblock %}

<!-- Multi step progress -->
<section class="multi_step_progress three-step">
    <div id="msprogress">
        <ul id="progressbar">
            <li class="{% if has_contract %}active{% endif %}">
                <div class="h6">{% trans 'Contract Available' %}</div>
            </li>
            <li class="{% if has_contract_submitted or has_contract_approved %}active{% endif %}">
                <div class="h6">{% trans 'Contract Signed' %}</div>
            </li>
            <li class="{% if has_contract_approved %}active{% endif %}">
                <div class="h6">{% trans 'Contract Approved' %}</div>
            </li>
        </ul>

        <div class="title mt-5 text-start">
            {% if not has_contract %}
                <h2>{% trans 'Contract is not available. Please contact Admin' %}</h2>
            {% elif has_contract_submitted and not has_contract_approved %}
                <h2>{% trans 'Your contract is waiting for approval. Please be patient.' %}</h2>
            {% elif not has_contract_submitted and not has_contract_approved %}
            
              {% if contract.upload_file %}
                <fieldset>
                  <h2>
                      <span class="don_icon_number h5"><i class="fa-solid fa-1"></i></span>
                      {% trans 'Please Fill the contract below and Download' %}
                  </h2>
                  <div class="contract-container mt-4">
                      <div class="h5"><span style="font-weight:bold">{% trans 'Title' %}:</span>  {{ contract.title }}</div>
                      <!-- {% if contract.description %}
                          <div><span style="font-weight:bold">{% trans 'Description' %}:</span>  {{ contract.description | safe }}</div>
                      {% endif %} -->
                      <div class="mt-2">
                          {% if contract.upload_file.url %}
                              <p>
                                  <!-- <i class="fa-solid fa-paperclip"></i> -->
                                  <!-- {{ contract.get_upload_file_name }} -->
                                  <embed src="{{ contract.upload_file.url }}" width="1000px" height="800px" />
                                  <!-- <a href="{{ contract.upload_file.url }}" class="btn btn-info ms-4" target="_blank">
                                      <i class="fa-solid fa-cloud-arrow-down"></i> {% trans 'Download Contract' %}
                                  </a> -->
                              </p>
                          {% else %}
                              {% trans 'No Attachment Available' %}
                          {% endif %}
                      </div>
                      <h2 class="mt-5">
                          <span class="don_icon_number h5"><i class="fa-solid fa-2"></i></span>
                          {% trans 'Please Upload the signed Contract and accept the terms' %}
                      </h2>
                      <div class="form-container mt-2">
                          <form name="contract-submission" method="post" enctype="multipart/form-data">
                              {% csrf_token %}
                              <div>
                                  <div class="input-group"> 
                                      <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="file-upload-input" name="contract-file" required>
                                        <label class="custom-file-label" for="file-upload-input">
                                          <i class="fa-solid fa-upload"></i>{% trans 'Choose file' %}
                                        </label>
                                        <div class="file-select-name mt-2">{% trans 'No file chosen' %}...</div>
                                      </div>
                                    </div>
                                  <input type="hidden" name="contract-id" value="{{ contract.id }}">
                                  <input type="hidden" name="contract-type" value="file">
                              </div>
                              <div class="row">
                                <div class="mb-4 h5 col-6">
                                  <input type="checkbox" id="agree-terms" onchange="toggleDisabledFormButton(this)">
                                  <label for="agree-terms">{% trans 'I agree to all terms and conditions' %}</label>
                                </div>
                                <div class="col-6">
                                  <button type="submit" class="btn accept-button" disabled id="submit-file-btn">{% trans 'Accept' %}</button>
                                </div>
                              </div>
                          </form>
                      </div>
          
                  </div>
                </fieldset>  
              {% else %}
                <div class="wrap">
                  <section class="container">
                    <div class="container__heading">
                      <h2>{{ contract.title }}</h2>
                    </div>
                    <div class="container__content">
                        {{ contract.description | safe }}
                    </div>
                    <form name="contract-submission" method="post" enctype="multipart/form-data">
                      <div class="container__nav row">
                        {% csrf_token %}
                        <input type="hidden" name="contract-id" value="{{ contract.id }}">
                        <input type="hidden" name="contract-type" value="text">
                        <div class="mb-4 text-start col-8">
                          <input type="checkbox" id="agree-terms" onchange="toggleDisabledFormButton(this)">
                          <label for="agree-terms">{% trans "By clicking 'Accept' you are agreeing to our terms and conditions" %}</label>
                        </div>
                        <div class="col-4">
                          <button type="submit" class="btn accept-button" disabled id="submit-btn">{% trans 'Accept' %}</button>
                        </div>
                      </div>
                    </form>
                  </section>
                </div>
              {% endif %}
            {% elif has_contract_approved %}
                <h2 class="mt-5">
                    {% trans 'Congratulation. Your contract is approved.' %}
                    <span class="don_icon"><i class="fa-solid fa-check"></i></span>
                </h2>
            {% endif %}
        </div>
    </div>
</section>
<!-- End Multi step progress -->

<script>
    function toggleDisabledFormButton(elem) {
        var btnelement = document.getElementsByClassName('accept-button')[0];
        btnelement.disabled = !btnelement.disabled;
    }

    let fileInput = document.getElementById("file-upload-input");
    fileInput.onchange = function() {
        let filename = fileInput.files[0].name;
        let selectName = document.getElementsByClassName("file-select-name")[0];
        selectName.innerText = filename;
    }

    // when submit button is clicked, check if file is uploaded
    document.getElementById("submit-file-btn").addEventListener("click", function(event) {
        if (fileInput.files.length == 0) {
            event.preventDefault();
            alert("{% trans 'Please upload signed contract file' %}");
        }
    });

</script>