{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Audio Annotation Tool">
    <meta name="author" content="NSDevil Co. Ltd.">
    <title>{% trans 'Audio Annotation' %} {% block title %}{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">

    <!-- Popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.5/umd/popper.min.js" integrity="sha512-8cU710tp3iH9RniUh6fq5zJsGnjLzOWLWdZqBMLtqaoZUA6AWIE34lwMB3ipUNiTBP5jEZKY95SfbNnQ8cCKvA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'DataTables/datatables.min.css' %}" rel="stylesheet" type="text/css" >

    <!-- custom css -->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    <link href="{% static 'css/pagewise/navbar.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>


    {% block styles %}{% endblock %}
</head>

<body>
    {% block header %}
    <div class="main-wrapper navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
      <nav class="navbar-profile container">
        <div class="nav-wrapper" style="width: 100%;">
          <div class="logo-section">
            <a href="{% url 'homepage' %}" class="brand-name">{% trans 'Audio Annotation' %}</a>
            <img class="logo" src="{% static 'img/waveform.png' %}" alt="">
          </div>
            {% block navbar %}{% endblock %}
          </div>
          <ul class="navbar-nav">
          {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link avatar-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                  <img src="{% static 'img/user.png' %}" class="rounded-circle align-self-center mr-2" style="width: 1.5rem;height: 1.5rem;">
                  <span class="firstname">
                    <!-- FirstName here -->
                  {{ user.first_name }}

                  </span>
              </a>
                
              <div class="dropdown-menu dropdown-menu-end animate__animated animate__fadeInDown">
                <h5 class="dropdown-item-text text-dark mb-0"><i class="fa-solid fa-user"></i>
                  {{ user.get_full_name }}
                  <!-- Firstname Lastname -->
                </h5>
                <p class="dropdown-item-text text-muted mb-0"><i class="fa-solid fa-quote-left"></i>
                  {% if '/professor' in request.path %}
                    {% trans 'Professor' %}
                  {% elif '/worker' in request.path %}
                    {% trans 'Worker' %}
                  {% elif '/speaker' in request.path %}
                    {% trans 'Speaker' %}
                  {% else %}
                    {% trans 'Admin' %}
                  {% endif %}
                </p>
                <p class="dropdown-item-text text-muted mb-0"><i class="fa-solid fa-at"></i>
                  {{ user.email }}
                  <!-- email@address.com -->
                </p>
                <!-- <div class="dropdown-divider"></div> -->
                <a href="{% url 'account_logout' %}" class="dropdown-item text-dark"><i class="fa-solid fa-arrow-right-from-bracket"></i>{% trans 'Sign Out' %}</a>
              </div>
            </li>
          {% else %}
            <li class="nav-item">
              <a href="{% url 'account_login' %}" class="nav-link"><i class="fa-solid fa-arrow-right-to-bracket"></i> {% trans 'Sign In' %}</a>
            </li>
          {% endif %}
          </ul>
        </nav>
      </div>
    {% endblock %}

    <main class="container">
        {% block content %}{% endblock %}
    </main>
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript">
      // Load Font Awesome icons inside <i> tags instead of svgs
      window.FontAwesomeConfig = { autoReplaceSvg: false }
    </script>
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'DataTables/datatables.min.js' %}"></script>

    {% block scripts %}{% endblock %}
</body>
</html>