{% load static %}
{% load i18n %}

<div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a href="{% url 'homepage' %}" class="nav-link{% if request.resolver_match.view_name == 'homepage' %} active{% endif %}">{% trans 'Home' %}</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link{% if request.resolver_match.view_name == 'user' %} active{% endif %}">{% trans 'User Management' %}</a>
      </li>
      <li class="nav-item" data-turbolinks="false">
        <a class="nav-link{% if request.resolver_match.view_name == 'profile' %} active{% endif %}" href="#">{% trans 'Profile' %}</a>
      </li>
    </ul>
    <ul class="navbar-nav justify-content-end">
      {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link avatar-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
              <img src="{% static 'img/user.png' %}" class="rounded-circle align-self-center mr-2" style="width: 32px;height: 32px;">
              <span class="h6 ps-2">{% trans 'Admin' %}</span>
          </a>
          
          <div class="dropdown-menu dropdown-menu-end">
            <h5 class="dropdown-item-text mb-0">{{ user.get_full_name }}</h5>
            <p class="dropdown-item-text text-muted mb-0">{{ user.email }}</p>
            <div class="dropdown-divider"></div>
            <a href="{% url 'account_logout' %}" class="dropdown-item">{% trans 'Sign Out' %}</a>
          </div>
        </li>
      {% else %}
        <li class="nav-item">
          <a href="{% url 'account_login' %}" class="nav-link">{% trans 'Sign In' %}</a>
        </li>
      {% endif %}
    </ul>
  </div>