{% load i18n %}

<div class="modal fade" id="modal-success" tabindex="-1" aria-labelledby="modal-success-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% trans 'Saved Successfully' %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Close' %}</button>
            </div>
        </div>
    </div>
</div>
<script>
    $('#modal-success').modal('show');
</script>