{% load i18n %}

<div class="modal" tabindex="-1" id="task-confirm-modal">
    <div class="modal-dialog">
        <form name="task-confirmation-form" method="post" action="{% url 'worker:task_create' %}">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-body">
                    <p>{% trans 'Apply for Work?' %}</p>
                    <p>{% trans 'The deadline for work after approval is 7 days.' %}</p>
                    <p>{% trans 'If you do not complete work within deadline day, it will be removed from your account.' %}</p>
                </div>

                <div class="modal-footer">
                    <input type="hidden" name="examSetSubmission" id="examSetSubmission"
                           value="{{ examSetSubmission }}">
                    <!--<input type="hidden" name="type" id="examSetSubmission" value="">-->
                    <button type="submit" class="btn btn-dark">{% trans 'Confirm' %}</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Close' %}</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $('#task-confirm-modal').show();

    $('form').on('submit', function (e) {
        e.preventDefault();
        var form = $(this);
        $.ajax({
            url: form.url,
            method: form.action,
            data: form.serialize(),
            success: function (data) {
                $('#task-confirm-modal').hide();
            }
        })
    })

</script>
