{% load static %}
{% load i18n %}

<div class="mytabs">
  <input type="radio" id="home-tab" name="mytabs" checked>
  <label for="home-tab">Home</label>
  <div class="tab" id="home-tab-div">
    <a href="" class="tab-item active">Dashboard</a>
    <a href="" class="tab-item">Profile</a>
  </div>

  <input type="radio" id="questions-tab" name="mytabs" {% if 'professor_question' in request.path %} checked {% endif %}>
  <label for="questions-tab">Questions</label>
  <div class="tab" id="questions-tab-div">
    <a href="#" class="tab-item">Exam Set</a>
    <a href="{% url 'professor:question_set_page' %}" class="tab-item {% if 'professor_question_set' in request.path %}active{% endif %}">QuestionSet List</a>
    <a href="{% url 'professor:question_list_page' %}" class="tab-item {% if 'professor_question_list' in request.path %}active{% endif %}">Questions List</a>
    <a href="#" class="tab-item">Category Management</a>
  </div>

  <input type="radio" id="evaluations-tab" name="mytabs">
  <label for="evaluations-tab">Evaluations</label>
  <div class="tab" id="evaluations-tab-div">
    <a href="" class="tab-item">Evaluations List</a>
    <a href="" class="tab-item">Evaluation Creation</a>
  </div>

  <input type="radio" id="taggings-tab" name="mytabs">
  <label for="taggings-tab">Taggings</label>
  <div class="tab" id="taggings-tab-div">
    <a href="" class="tab-item">Tags List</a>
    <a href="" class="tab-item">Tag Creation</a>
  </div>
</div>
    