@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');

html,
body {
  box-sizing: border-box;
  font-family: Roboto, Arial, Helvetica Neue, Helvetica, sans-serif;
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */
  font-size: 15px;
}
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  /* padding-top: 56px; */
  overflow-x: hidden;
}

:root {
  --light-color: #f47b20;
  --dark-color: #d85e1f;
  --darker-color: #db5c1e;
  --black-color: #2a292f;
  --chinju-orange: #f47b20;
  --chinju-gray: #6d605f;
  --chinju-orange-dark: #db5c1e;
  --chinju-gray-light: #e7e1d6;
}


/* Custom scroillbar for webkit based browsers like Chrome, Safari and other Chromium based browsers */
body::-webkit-scrollbar {
  width: 0.65rem;
  
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(188, 188, 188);
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(80, 80, 80);
  outline: 1px solid slategrey;
  border-radius: 0.5rem;
  cursor: pointer;
}

/* Custom scroillbar for webkit based browsers like Chrome, Safari and other Chromium based browsers */

/* Custom scrollbar for Firefox */
html{
  /* overflow: scroll; */
  scrollbar-color: rgb(77, 77, 77) rgb(168, 168, 168);
  scrollbar-width: thin;
}
/* Custom scrollbar for Firefox */



@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px;
    /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
  }

  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
}

/* Margin for the content which was getting covered right below the navbar */
.navbar + main{
  margin-top: 6rem;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

.text-white-50 {
  color: rgba(255, 255, 255, .5);
}

.bg-purple {
  background-color: #6f42c1;
}

.tab-element {
  all: unset;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  padding: 0.25rem;
  cursor: pointer;
  font-size: 1.1rem;
  transition: all 0.2s ease;
}

.tab-element.active {
  color: var(--chinju-orange);
  border-bottom: 3px solid var(--chinju-orange);
}

.tab-element:hover {
  color: var(--chinju-orange);
  border-bottom: 2px solid var(--chinju-orange);
}

.parent > *{
    padding: 0.75rem;
}

.parent .title{
    display: flex;
    background-color: rgba(188,188,188,0.2);
    justify-content: center;
    align-items: center;
    font-weight: 600;
    width: 20%;
}
.parent .value{
    width: 80%;
}


.question_form_error_div {
    display: none;
    color: red;
}

.question_form_error_row {
    display: none;
    text-align: center;
    color: red;
}


.flex-space{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;

}

.dropdown-menu{
  width: max-content;
}
.dropdown-menu i{
  width: 2rem;
  text-align: center;
}

.dropdown-menu p , .dropdown-menu a{
font-size: 1rem;
}
.dropdown-item-text{
  text-align: left;
}

.avatar-link{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.animate__animated.animate__fadeInDown {
  --animate-duration: 0.35s;
}